<div id="module-content">

    <div class="container-fluid no-padding">

        <div class="row">

            <div class="col-3">
                <mat-card class="conciliar">
                    <p>Datos de la toma física</p>
                    <div id="content">
                        <div class="form-group">
                            <b>Serial</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Fabricante</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Modelo</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Tipo</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Subtipo</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Cliente</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Sucursal</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Código activo</b>
                            <p></p>
                        </div>
            
                    </div>

                </mat-card>
            </div>

            <div class="col-3">
                <mat-card class="conciliar">
                    <p>Pendientes por conciliar</p>

                    <div id="content">

                        <mat-list>
                            <div class="form-group">
                                <mat-list-item><button class="btn-primary-raised tb-url" mat-flat-button color="primary">03-3834</button></mat-list-item>
                                <mat-divider></mat-divider>
                            </div>

                            <div class="form-group">
                                <mat-list-item><button class="btn-primary-raised tb-url" mat-flat-button color="primary">03-3835</button></mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                        
                            <div class="form-group">
                                <mat-list-item><button class="btn-primary-raised tb-url" mat-flat-button color="primary">03-3836</button></mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                            <div class="form-group">
                                <mat-list-item><button class="btn-primary-raised tb-url" mat-flat-button color="primary">03-3837</button></mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                            <div class="form-group">
                                <mat-list-item><button class="btn-primary-raised tb-url" mat-flat-button color="primary">03-3838</button></mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                            <div class="form-group">
                                <mat-list-item><button class="btn-primary-raised tb-url" mat-flat-button color="primary">03-3839</button></mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                          

                        </mat-list>

                    
                    </div>
                

                </mat-card>
            </div>

            <div class="col-3">
                <mat-card class="conciliar">
                    <p>Posibles coincidencias y %</p>
                    <div id="content">


                    </div>

                </mat-card>
            </div>


            <div class="col-3">
                <mat-card class="conciliar">

                    <p>Datos SPX (Posible coincidencia)</p>

                    <div id="content">
                        <div class="form-group">
                            <b>Serial</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Fabricante</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Modelo</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Tipo</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Subtipo</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Cliente</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Sucursal</b>
                            <p></p>
                        </div>
                        <div class="form-group">
                            <b>Código activo</b>
                            <p></p>
                        </div>
            
                    </div>

                </mat-card>
            </div>

            <div class="col-12 text-center">
                <mat-card>
                        <button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Conciliar</button>
                        <button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Crear Nuevo</button>
                        <button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Exportar </button>
                </mat-card>
            </div>
            	
        
        </div>

    </div>

</div>