<div id="module-content">

    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12">

  
          <mat-card class="col add-bottom">

            
                <div class="row">
                    <div class="col-12">
                      <mat-tab-group>
                            <mat-tab label="General">

                            
                                    <div class="row">
                                            <div class="col-12">
                                                <h6 class="card-title add-top">
                                                    Filtros   
                                                </h6>	
                                            </div>
        
                                            <div class="col-lg-12">
                                                <div class="row ">
                                                    <div class="col-3">
                                                        <mat-form-field appearance="outline">
                                                            <mat-select placeholder="Ciudades"  name="Ciudad">
                                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                            
                                                                {{food.viewValue}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-label>Ciudades</mat-label>
                                                        </mat-form-field>
                            
                                                    </div>
                                                    <div class="col-2">
                            
                                                        <mat-form-field appearance="outline">
                                                            <mat-select placeholder="Sede"  name="Sede">
                                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                            
                                                                {{food.viewValue}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-label>Cliente</mat-label>
                                                        </mat-form-field>
                            
                                                    </div>
                                                    <div class="col-3">
                                                        <mat-form-field appearance="outline">
                                                            <mat-select placeholder="Zona"  name="Zona">
                                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                            
                                                                {{food.viewValue}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-label>Sedes</mat-label>
                                                        </mat-form-field>
                                                    </div>
        
                                                    <div class="col-2">
                                                            <mat-form-field appearance="outline">
                                                                    <mat-select placeholder="Zona"  name="Zona">
                                                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                                    
                                                                        {{food.viewValue}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                    <mat-label>tipo</mat-label>
                                                                </mat-form-field>
                                                    </div>
                                                    <div class="col-2 text-center">
                                                            <button class="mat-green" mat-flat-button color="primary">Inf. Detallado</button>
                                                    </div>
                            
                                                </div>
                                        </div>
        
        
                                        <div class="col-12">
                                            <h6 class="card-title add-top">
                                                    
                                                Campos para el informe (Consolidado)
                                            </h6>	
                                        </div>
    
                                        <div class="col-lg-12">
                                            <div class="row ">
                                             <div class="col-3">
                                                    <mat-form-field appearance="outline">
                                                        <mat-select placeholder="Ciudades"  name="Ciudad">
                                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                        
                                                            {{food.viewValue}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-label>Campos</mat-label>
                                                    </mat-form-field>
                        
                                                </div>
                                                 
                                                    <div class="col-3">
                                                        <mat-form-field appearance="outline">
    
                                                     
                                                                <mat-select placeholder="Métricas"  multiple>
                                                                    <mat-option *ngFor="let metrica of metricaList" [value]="metrica">{{metrica}}</mat-option>
                                                                </mat-select>
                                                              
    
    
                                                            
                                                            <mat-label>Métricas</mat-label>
                                                        </mat-form-field>
                                                    </div>
        
                                                    
                                                    <div class="col-2 text-center">
                                                            <button class="mat-green" mat-flat-button color="primary">Inf. Detallado</button>
                                                    </div>
                            
                                                </div>
                                        </div>

                                    </div>

                              </mat-tab>
                          <mat-tab label="Ingresos">


                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="card-title add-top">
                                            Informe por ingresos
                                        </h6>	
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="row ">
                                            <div class="col-3">
                                                <mat-form-field appearance="outline">
                                                    <mat-select placeholder="Ciudades"  name="Ciudad">
                                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                    
                                                        {{food.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-label>Ciudades</mat-label>
                                                </mat-form-field>
                    
                                            </div>
                                            <div class="col-2">
                    
                                                <mat-form-field appearance="outline">
                                                    <mat-select placeholder="Sede"  name="Sede">
                                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                    
                                                        {{food.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-label>Sedes</mat-label>
                                                </mat-form-field>
                    
                                            </div>
                                            <div class="col-3">
                                                <mat-form-field appearance="outline">
                                                    <mat-select placeholder="Zona"  name="Zona">
                                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                    
                                                        {{food.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-label>Zonas</mat-label>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-2">
                                                <mat-form-field appearance="outline">
                                                    <input matInput [matDatepicker]="picker" placeholder="Fecha">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                    <mat-label>Fecha</mat-label>
                                                    </mat-form-field>
                              
                                            </div>
                                            <div class="col-2 text-center">
                                                    <button class="mat-green" mat-fab color="primary"><mat-icon>search</mat-icon></button>
                                            </div>
                    
                                        </div>
                                </div>


                                <div class="col-12">
                                    <h6 class="card-title add-top">
                                            Auditorias Realizadas o Conciliadas
                                    </h6>	
                                </div>

                                <div class="col-12">
                                    <h6 class="card-title add-top">
                                            Ciudad / Sede / Zona
                                    </h6>	
                                </div>

                                	
                            <div class="col-2">
                                    <mat-card class="card-bg-color"> 
                                        <h3>0</h3>
                                        <span>Teórico</span>
                                    </mat-card>	
                    
                                </div>	
                    
                                <div class="col-2">
                                        <mat-card class="card-bg-color"> 
                        
                                            <h3>0</h3>
                                            <span>Real</span>
                                        </mat-card>	
                        
                                    </div>
                        
                                    <div class="col-2">
                                        <mat-card class="card-bg-color"> 
                                            <h3>0</h3>
                                            <span>Dispersión</span>
                                        </mat-card>	
                        
                                    </div>
                        
                                    <div class="col-2">
                                        <mat-card class="card-bg-color"> 
                                            <h3>0</h3>
                                            <span>Valor Teórico </span>
                                        </mat-card>	
                        
                                    </div>
                                <div class="col-2">
                                        <mat-card class="card-bg-color"> 
                                            <h3>0</h3>
                                            <span>Valor Real</span>
                                        </mat-card>	
                        
                                    </div>
                                <div class="col-2">
                                        <mat-card class="card-bg-color"> 
                                            <h3>0</h3>
                                            <span>Porcentaje Disperción</span>
                                        </mat-card>	
                        
                                    </div>
                        
                                
        
                                </div>

    




                            
                            
                            
                          </mat-tab>
                          <mat-tab label="Auditoría">

                            
                            
                                <div class="row">
                                        <div class="col-12">
                                            <h6 class="card-title add-top">
                                                Informe por auditoria
                                            </h6>	
                                        </div>
    
                                        <div class="col-lg-12">
                                            <div class="row ">
                                                <div class="col-3">
                                                    <mat-form-field appearance="outline">
                                                        <mat-select placeholder="Ciudades"  name="Ciudad">
                                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                        
                                                            {{food.viewValue}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-label>Ciudades</mat-label>
                                                    </mat-form-field>
                        
                                                </div>
                                                <div class="col-2">
                        
                                                    <mat-form-field appearance="outline">
                                                        <mat-select placeholder="Sede"  name="Sede">
                                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                        
                                                            {{food.viewValue}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-label>Sedes</mat-label>
                                                    </mat-form-field>
                        
                                                </div>
                                                <div class="col-3">
                                                    <mat-form-field appearance="outline">
                                                        <mat-select placeholder="Zona"  name="Zona">
                                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                        
                                                            {{food.viewValue}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-label>Zonas</mat-label>
                                                    </mat-form-field>
                                                </div>
    
                                                <div class="col-2">
                                                    <mat-form-field appearance="outline">
                                                        <input matInput [matDatepicker]="picker2" placeholder="Fecha">
                                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker2></mat-datepicker>
                                                        <mat-label>Fecha</mat-label>
                                                        </mat-form-field>
                                  
                                                </div>
                                                <div class="col-2 text-center">
                                                        <button class="mat-green" mat-fab color="primary"><mat-icon>search</mat-icon></button>
                                                </div>
                        
                                            </div>
                                    </div>
    
    
                                    <div class="col-12">
                                        <h6 class="card-title add-top">
                                                Auditorias Realizadas o Conciliadas
                                        </h6>	
                                    </div>
    
                                    <div class="col-12">
                                        <h6 class="card-title add-top">
                                                Ciudad / Sede / Zona
                                        </h6>	
                                    </div>
    
                                        
                                <div class="col-2">
                                        <mat-card class="card-bg-color"> 
                                            <h3>0</h3>
                                            <span>Teórico</span>
                                        </mat-card>	
                        
                                    </div>	
                        
                                    <div class="col-2">
                                            <mat-card class="card-bg-color"> 
                            
                                                <h3>0</h3>
                                                <span>Real</span>
                                            </mat-card>	
                            
                                        </div>
                            
                                        <div class="col-2">
                                            <mat-card class="card-bg-color"> 
                                                <h3>0</h3>
                                                <span>Dispersión</span>
                                            </mat-card>	
                            
                                        </div>
                            
                                        <div class="col-2">
                                            <mat-card class="card-bg-color"> 
                                                <h3>0</h3>
                                                <span>Valor Teórico </span>
                                            </mat-card>	
                            
                                        </div>
                                    <div class="col-2">
                                            <mat-card class="card-bg-color"> 
                                                <h3>0</h3>
                                                <span>Valor Real</span>
                                            </mat-card>	
                            
                                        </div>
                                    <div class="col-2">
                                            <mat-card class="card-bg-color"> 
                                                <h3>0</h3>
                                                <span>Porcentaje Disperción</span>
                                            </mat-card>	
                            
                                        </div>
                            
                                    
            
                                    </div>
    
        
    
    
    
      




                          </mat-tab>
                      
                        </mat-tab-group>
                      </div>
                  </div>
                  
    
          </mat-card>
  
        </div>	
	    </div>
    </div>

</div>

