#logoapp {
    height: 60px;
    width: 180px;
    position: fixed;
    top: 0;
    padding: 15px 15px;
}

.titulo-pagina {
    padding: 0px 15px;
    margin: 0;
    color: #1C4B8D;
    font-weight: 400;
    font-size: 24px;
    font-weight: 500;
    padding-left: 200px;
}

#usuario {
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    text-align: right;
    display: flex;
}

#usuario button.small {
    color: #204b8d;
    width: 60px;
    overflow: hidden;
    height: 60px;
    min-width: inherit;
    margin-right: 10px;
    border-radius: 0;
    border: 0;
    padding: 3px;
    background: #fff;
    cursor: pointer;
    margin-top: 0;
}

#usuario button.small mat-icon{
    font-size: 28px;
    width: 28px; 
    height: 28px;
    color: #7E7E7E;
}
 .user.mat-menu-item {
    background: #eee;
    margin-top: -10px;
    height: auto;
}


.user.mat-menu-item span.username {
    width: 100%;
    display: block;
    line-height: 0;
    margin-top: 30px;
    margin-bottom: 0;
}

.user.mat-menu-item span.rango {
    color: #0FB3D9;
}

.rango mat-icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
    margin-right: 0 !important;
    margin-left: 14px;
    top: 0;
    line-height: 0.9;
    color: #0FB3D9;
}

