<div id="logoapp">
	<img src="../../assets/img/smartassets-logo.svg" alt="" id="logo" class="img-fluid">
  </div>
<h4 class="titulo-pagina">{{title}}</h4>

<div id="usuario">
	


	<button id="busqueda" mat-button class="btn-buscar-activo small" mat-button [matMenuTriggerFor]="menu">
		<mat-icon>search</mat-icon>
	</button>

	<mat-menu #menu="matMenu" class="busca-activo">
		<app-buscar-activo-rapido>
			
		</app-buscar-activo-rapido>
	</mat-menu>



	<button id="notificaciones" mat-button class="btn-buscar-activo small" mat-button [matMenuTriggerFor]="notificaciones">
		<mat-icon>notifications</mat-icon>

	</button>

	<mat-menu #notificaciones="matMenu" class="busca-activo notificaciones">
		<div>

			<h6>Estás al día</h6>
		</div>
	</mat-menu>




	<button  class="usuario" class="small"  [matMenuTriggerFor]="menuUsuario" >
		<img src="../../assets/img/annar.png" alt="" class="img-fluid">
	</button>


	<mat-menu #menuUsuario="matMenu" class="menu-usuario">
		<div mat-menu-item class="user">

			<span class="username">Juan Pablo Lozano</span>
			<span class="empresa"><small>Annar</small></span>
			<span class="rango"> <small> <mat-icon>star</mat-icon> SuperAdmin</small></span>
		
		

		</div>

		<button mat-menu-item><mat-icon>person</mat-icon>Cuenta</button>
  		<button mat-menu-item><mat-icon>exit_to_app</mat-icon>Cerrar sesión</button>
	</mat-menu>


</div>