

<div class="container-fluid">
	<div class="row">
		<div class="col-8">
			<mat-card> 

				Simple card


			</mat-card>
		</div>	
		<div class="col-4">
			<mat-card> 

				Simple card


			</mat-card>
		</div>	

	</div>

</div>

