<div id="module-content">
	

	<div class="container-fluid">
		<div class="row">

			<div class="col-4 text-center no-padding add-bottom">
				<div class="img-content person card-bg-color">
					<img src="../../assets/img/doc.jpg" alt="" class="img-fluid">
				</div>
			</div>

			<div class="col-8 text-center add-bottom">
				<div class="row">
					<div class="col-12 text-center">
						<h3 class="card-title">
							RUEDA ROJAS JUAN EMILIO
						</h3>
						<hr>
					</div>

					<div class="col-4">
						<b>Cédula</b>
						<p>111222333</p>
					</div>
					<div class="col-4">
						<b>Fecha de nacimiento </b>
						<p>1900-01-01</p>
					</div>
					<div class="col-4">
						<b>Cargo </b>
						<p>Jefe</p>
					</div>
					<div class="col-4">
						<b>Número teléfono </b>
						<p>79296689</p>
					</div>
					<div class="col-4">
						<b>Fecha de ingreso </b>
						<p>2016-01-01</p>
					</div>
					<div class="col-4">
						<b>Sede </b>
						<p>BOGOTA-SEDE ANNAR</p>
					</div>
					<div class="col-4">
							<b>Correo electrónico </b>
							<p>admin@annar.com</p>
						</div>

					

				
					
				</div>

			
			</div>
			<div class="col-12">
				<div class="row">
						
					<div class="col-2">
							<mat-card class="card-bg-color"> 
								<h3>153</h3>
								<span>Activos a cargo</span>
							</mat-card>	

						</div>
						<div class="col-2">
							<mat-card class="card-bg-color"> 
								<h3>$ 0</h3>
								<span>Valor neto</span>
							</mat-card>	

						</div>
						<div class="col-2">
							<mat-card class="card-bg-color"> 
								<h3>$ 0</h3>
								<span>Valor compra</span>
							</mat-card>	

						</div>
						<div class="col-2">
								<mat-card class="card-bg-color"> 
									<h3>153</h3>
									<span>Depreciación Acumulada</span>
								</mat-card>	
		
							</div>
							<div class="col-2">
								<mat-card class="card-bg-color"> 
									<h3>153</h3>
									<span>Siniestros</span>
								</mat-card>	
		
							</div>
							<div class="col-2">
								<mat-card class="card-bg-color"> 
									<h3>$ 0</h3>
									<span>Valor Siniestros</span>
								</mat-card>	
		
							</div>
					</div>
				</div>
			<div class="col-12">
				<hr>
			</div>

			<div class="col-12 text-center">

				
				<button class="btn-primary-raised" mat-flat-button color="primary">
					<mat-icon>cloud_download</mat-icon>
				Descargar informe</button>

			</div>

		</div>
	</div>
</div>


