<div id="module-content">
	

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h6 class="card-title">
					Filtrar empleado
				</h6>

				<mat-card> 

					<div class="row">
						<div class="col-3">
							<mat-form-field appearance="outline">
								<mat-select placeholder="Favorite food">
								    <mat-option *ngFor="let food of foods" [value]="food.value">
								      {{food.viewValue}}
								    </mat-option>
								</mat-select>
								<mat-label>Ciudad</mat-label>
							</mat-form-field>
						</div>
						<div class="col-3">
							<mat-form-field appearance="outline">
								<mat-select placeholder="Favorite food">
								    <mat-option *ngFor="let food of foods" [value]="food.value">
								      {{food.viewValue}}
								    </mat-option>
								</mat-select>
								<mat-label>Sede</mat-label>
							</mat-form-field>
						</div>
						
						<div class="col-3">
							<mat-form-field appearance="outline">
							    <mat-label>Nombre</mat-label>
							    <input matInput >
							</mat-form-field>

						</div>

						<div class="col-3">
							<mat-form-field appearance="outline">
							    <mat-label>Apellido</mat-label>
							    <input matInput >
							</mat-form-field>

						</div>

						<div class="col-3">
							<mat-form-field appearance="outline">
							    <mat-label>Cédula</mat-label>
							    <input matInput >
							</mat-form-field>

						</div>


						<div class="col-3">
							<mat-form-field appearance="outline">
							  <input matInput [matDatepicker]="fechaDesde" placeholder="Compra desde">
							  <mat-datepicker-toggle matSuffix [for]="fechaDesde"></mat-datepicker-toggle>
							  <mat-datepicker #fechaDesde ></mat-datepicker>
							   <mat-label>Fecha desde</mat-label>
							</mat-form-field>


						</div>
						<div class="col-3">
							
							
							<mat-form-field appearance="outline">
							  <input matInput [matDatepicker]="fechaHasta" placeholder="Compra hasta" >
							  <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
							  <mat-datepicker #fechaHasta ></mat-datepicker>
							   <mat-label>Fecha hasta</mat-label>
							</mat-form-field>

						</div>

						<div class="col-3 text-center">
							<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Buscar</button>
							
						</div>
					
					</div>

					
				</mat-card>
			</div>



			<div class="col-12 no-padding">
				<h6 class="card-title">
					Resumen de resultados
				</h6>
				<div class="row">
					<div class="col-3">
						<mat-card class="card-bg-color"> 
							<h3>345</h3>
							<span>Empleados</span>
						</mat-card>	

					</div>	

					<div class="col-3">
						<mat-card class="card-bg-color"> 

							<h3>12.345</h3>
							<span>Activos</span>
						</mat-card>	

					</div>

					<div class="col-3">
						<mat-card class="card-bg-color"> 
							<h3>0</h3>
							<span>Valor neto</span>
						</mat-card>	

					</div>

					<div class="col-3">
						<mat-card class="card-bg-color"> 
							<h3>0</h3>
							<span>Depreciación acumulada</span>
						</mat-card>	

					</div>
				</div>
				
			</div>
			
			<div class="col-12 ">
				<h6 class="card-title">
							Resultado de Activos
						</h6>
				<mat-card>	
					<div class="row align-items-center">
						
						
						<div class="col-8">

							<mat-form-field appearance="outline">
								<mat-label>Filtrar activos encontrados</mat-label>
							  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
							</mat-form-field>
							
						</div>

						<div class="col-4 text-center">
							<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;" routerLink="/responsable/crear">Crear responsable</button>	
						</div>
					</div>
				
			
					<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

					   <!-- Checkbox Column -->
					  <ng-container matColumnDef="select">
					    <th mat-header-cell *matHeaderCellDef>
					      <mat-checkbox (change)="$event ? masterToggle() : null"
					                    [checked]="selection.hasValue() && isAllSelected()"
					                    [indeterminate]="selection.hasValue() && !isAllSelected()">
					      </mat-checkbox>
					    </th>
					    <td mat-cell *matCellDef="let row">
					      <mat-checkbox (click)="$event.stopPropagation()"
					                    (change)="$event ? selection.toggle(row) : null"
					                    [checked]="selection.isSelected(row)">
					      </mat-checkbox>
					    </td>
					  </ng-container>

				
					  <ng-container matColumnDef="nombre_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center">Nombre</th>
					    <td mat-cell *matCellDef="let element" class="text-center" ><button class="btn-primary-raised tb-url" mat-flat-button color="primary" routerLink="/responsable/hoja-responsable" > {{element.nombre_responsable}} </button></td>
					  </ng-container>

				
					  <ng-container matColumnDef="cargo_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center"> Cargo</th>
					    <td mat-cell *matCellDef="let element" class="text-center"> {{element.cargo_responsable}} </td>
					  </ng-container>

				
					  <ng-container matColumnDef="correo_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center">Correo </th>
					    <td mat-cell *matCellDef="let element" class="text-center"> {{element.correo_responsable}} </td>
					  </ng-container>


					  <ng-container matColumnDef="fingreso_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center">Fecha ingreso</th>
					    <td mat-cell *matCellDef="let element" class="text-center"> {{element.fingreso_responsable}} </td>
						</ng-container>
						
						<ng-container matColumnDef="ciudad_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center">Ciudad</th>
					    <td mat-cell *matCellDef="let element" class="text-center">{{element.ciudad_responsable}} </td>
						</ng-container>
						
						<ng-container matColumnDef="sede_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center">Sede</th>
					    <td mat-cell *matCellDef="let element" class="text-center">{{element.sede_responsable}} </td>
						</ng-container>
						
						<ng-container matColumnDef="activos_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center">Activos</th>
					    <td mat-cell *matCellDef="let element" class="text-center">{{element.activos_responsable}} </td>
						</ng-container>
						
						<ng-container matColumnDef="valorneto_responsable">
					    <th mat-header-cell *matHeaderCellDef class="text-center">Valor neto</th>
					    <td mat-cell *matCellDef="let element" class="text-center">{{element.valorneto_responsable}} </td>
					  </ng-container>


					  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
					  </tr>
					</table>

					<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

				</mat-card>	
			</div>
		</div>
	</div>
</div>
