<div id="module-content">

	<div class="container-fluid">

		<div class="row">
			
			<div class="col-12">

				<h6 class="card-title">
					Información del responsable
				</h6>

				<mat-card >
		
					<div class="row">

              <div class="col-3">
							
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="Sede">
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                     <mat-label>Sede</mat-label>
                  </mat-form-field>
                   
                </div>
				<div class="col-2">

					<mat-form-field appearance="outline">
						<mat-label>Nombre</mat-label>
						<input matInput>  
					</mat-form-field>
					
				</div>

				<div class="col-2">
					
					<mat-form-field appearance="outline">
						<mat-label>Apellido</mat-label>
						<input matInput>
					</mat-form-field>
						
				</div>
						
				<div class="col-2">
					
						
						<mat-form-field appearance="outline">
								<mat-label>Cédula</mat-label>
								<input matInput>
							</mat-form-field>
								
						
				</div>

				<div class="col-3">

					<mat-form-field appearance="outline">
						<input matInput [matDatepicker]="pickerNacimiento" placeholder="Fecha">
						<mat-datepicker-toggle matSuffix [for]="pickerNacimiento"></mat-datepicker-toggle>
						<mat-datepicker #pickerNacimiento></mat-datepicker>
						<mat-label>Fecha de nacimiento</mat-label>
					</mat-form-field>
				</div>
			</div>


					<div class="row">
						<div class="col-2">
						
							<mat-form-field appearance="outline">
								<mat-label>Cargo</mat-label>
								<input matInput>
							</mat-form-field>		
					

						</div>

						<div class="col-2">
							
							<mat-form-field appearance="outline">
							    <input matInput placeholder="Marca" value="">
							    <mat-label>Teléfono</mat-label>
							 </mat-form-field>
							 
						</div>
						<div class="col-3">
							
								<mat-form-field appearance="outline">
									<mat-label>Correo</mat-label>
									<input matInput placeholder="ejemplo@ejemplo.com" >
								</mat-form-field>		
						
							 
						</div>
						<div class="col-2">
							
							<mat-form-field appearance="outline" >
							    <input matInput placeholder="Tu nombre de usuario" value="">
							    <mat-label>Usuario</mat-label>
							 </mat-form-field>
							 
						</div>

						<div class="col-3">

							<mat-form-field appearance="outline">
								<input matInput [matDatepicker]="pickerIngreso" placeholder="Fecha">
								<mat-datepicker-toggle matSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
								<mat-datepicker #pickerIngreso></mat-datepicker>
								<mat-label>Fecha de ingreso</mat-label>
							</mat-form-field>
						</div>
					</div>

					<div class="row">
						<div class="col-3">
							
									
							<mat-form-field appearance="outline">
									<mat-select placeholder="Estatus">
									  <mat-option *ngFor="let food of foods" [value]="food.value">
										{{food.viewValue}}
									  </mat-option>
									</mat-select>
									<mat-label>Estatus</mat-label>
								  </mat-form-field>
							

						</div>

						<div class="col-3">
							
								<mat-form-field appearance="outline">
									<mat-select placeholder="Estatus">
										<mat-option *ngFor="let food of foods" [value]="food.value">
										{{food.viewValue}}
										</mat-option>
									</mat-select>
									<mat-label>¿Con permiso web?</mat-label>
								</mat-form-field>
								
						</div>
						<div class="col-3">
							
								<button class="btn-primary-flat mat-flat-button mat-primary upload" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
										<label for="uploadIMG" style="margin:0;display:block;"><mat-icon>photo</mat-icon> Subir foto</label>
									   </button>
									   <input id="uploadIMG" type="file" style="display:none;">
							 
						</div>
						
					</div>

		
					
				</mat-card>
				
			</div>

			<div class="col-12">

				<h6 class="card-title">
					Resumen de resultados
				</h6>

				<mat-card>
					<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
		
						<!-- Position Column -->
						<ng-container matColumnDef="sede_responsable">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Sede</th>
							<td mat-cell *matCellDef="let element" class="text-center">{{element.sede_responsable}} </td>
						</ng-container>
						
						<!-- Name Column -->
						<ng-container matColumnDef="usuario_responsable">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Usuario</th>
							<td mat-cell *matCellDef="let element" class="text-center"> {{element.usuario_responsable}} </td>
						</ng-container>

						<!-- Name Column -->
						<ng-container matColumnDef="cargo_responsable">
								<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Cargo</th>
								<td mat-cell *matCellDef="let element" class="text-center"> {{element.cargo_responsable}} </td>
							</ng-container>
							


							<!-- Name Column -->
						<ng-container matColumnDef="telefono_responsable">
								<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Telefono</th>
								<td mat-cell *matCellDef="let element" class="text-center"> {{element.telefono_responsable}} </td>
							</ng-container>
							


							<!-- Name Column -->
						<ng-container matColumnDef="correo_responsable">
								<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Correo</th>
								<td mat-cell *matCellDef="let element" class="text-center"> {{element.correo_responsable}} </td>
							</ng-container>
							


							<!-- Name Column -->
						<ng-container matColumnDef="web_responsable">
								<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Permiso Web</th>
								<td mat-cell *matCellDef="let element" class="text-center"> {{element.web_responsable}} </td>
							</ng-container>
							


							<!-- Name Column -->
						<ng-container matColumnDef="perfil_responsable">
								<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Perfil</th>
								<td mat-cell *matCellDef="let element" class="text-center"> {{element.perfil_responsable}} </td>
							</ng-container>
							
						
						
						
						<!-- Symbol Column -->
						<ng-container matColumnDef="acciones_responsable">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Acciones</th>
							<td mat-cell *matCellDef="let element" class="text-center">
							<button mat-button class="icon">
								<mat-icon>edit</mat-icon> 
							</button>
							<button mat-button class="icon">
								<mat-icon>delete_forever</mat-icon> 
							</button>
						
							
							
							
							</td>
						</ng-container>
					
						
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;">
						</tr>
						</table>
						
						<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			

				</mat-card>
					
			</div>
	


<!-- Botón cancelar -->
<button mat-mini-fab color="primary" class="circle-btn" id="cancelar">		  	
		<mat-icon>close</mat-icon>
	</button>
	

<!-- Botón guardar -->
<button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
	<mat-icon class="save">save</mat-icon>
	<mat-icon class="check">check</mat-icon>
</button>

