<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                
    <!-- Position Column -->
    <ng-container matColumnDef="activo_mantenimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Activo</th>
        <td mat-cell *matCellDef="let element" class="text-center"><button class="btn-primary-raised tb-url" mat-flat-button color="primary" routerLink="/mantenimiento/opciones" >{{element.activo_mantenimiento}} </button></td>
      </ng-container>
    
  
    <!-- Name Column -->
    <ng-container matColumnDef="fecha_mantenimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Fecha</th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.fecha_mantenimiento}} </td>
    </ng-container>
  
    
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="editar_mantenimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Acciones</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-button class="icon"  routerLink="/mantenimiento/crear">
            <mat-icon>edit</mat-icon> 
        </button>
        <button mat-button class="icon">
            <mat-icon>delete_forever</mat-icon> 
        </button>
       
        
        
      </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="activar_mantenimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">¿Activar?</th>
      <td mat-cell *matCellDef="let element" class="text-center"><mat-slide-toggle></mat-slide-toggle></td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>