<div id="module-content">
    <div class="container-fluid">
      	<div class="row">
        	<div class="col-12">	
          		<h6 class="card-title">
					Crear auditoría
				</h6>
        	</div>
			<div class="col-12">	
				<mat-card> 
					<div class="row">
		
					<div class="col-2">
						<mat-form-field appearance="outline">
							<mat-select placeholder="Ciudad"  name="Ciudad">
							<mat-option *ngFor="let food of foods" [value]="food.value">
								{{food.viewValue}}
							</mat-option>
							</mat-select>
							<mat-label>Ciudad</mat-label>
						</mat-form-field>
					</div>
  
					<div class="col-2">
						<mat-form-field appearance="outline">
							<mat-select placeholder="Sede"  name="Sede">
							<mat-option *ngFor="let food of foods" [value]="food.value">
								{{food.viewValue}}
							</mat-option>
							</mat-select>
							<mat-label>Sede</mat-label>
						</mat-form-field>
          </div>
          <div class="col-4">
              <mat-form-field appearance="outline">
                  <mat-select placeholder="Zonas" [formControl]="auditZona" multiple>
                    <mat-select-trigger>
                      {{auditZona.value ? auditZona.value[0] : ''}}
                      <span *ngIf="auditZona.value?.length > 1" class="example-additional-selection">
                        (+{{auditZona.value.length - 0}} {{auditZona.value?.length === 2 ? 'Zona seleccionada' : 'Zonas seleccionadas'}})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let auditZona of auditZonaList" [value]="auditZona">{{auditZona}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
		
					<div class="col-2">
							<mat-form-field appearance="outline">
								<input matInput [matDatepicker]="picker" placeholder="Fecha">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-label>Fecha</mat-label>
							</mat-form-field>
					</div>
  
              <div class="col-2">
								<mat-form-field appearance="outline">
									<input matInput placeholder="Responsable" value="">
									<mat-label>Responsable</mat-label>
								</mat-form-field>
             </div>

        
  
                          <div class="col-6 text-center">
								<b>Número activos</b>
								<p>05</p>
						  </div>
						  
						  <div class="col-6 text-center">
								<b>Valor activos</b>
								<p>$5555</p>
							</div>
                      </div>
                
                  </mat-card> 
              </div>
  
             
  
        <div class="col-12">
  
                  <h6 class="card-title">
                          Nuevos activos
                  </h6>
          
                  <mat-card>	
                      <div class="row align-items-top">
                        
                        
                        <div class="col-4">
                
                          <mat-form-field appearance="outline">
                            <mat-label>Filtrar activos encontrados</mat-label>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                          </mat-form-field>
                          
                        </div>
                
                        <div class="col-.">
                  
                          
                            <button mat-mini-fab class="mat-green" color="primary" style="margin:10px"><mat-icon>check</mat-icon></button>
                
                          <button mat-mini-fab class="mat-red" color="primary" style="margin:10px"><mat-icon>delete_forever</mat-icon></button>
                
                          
                        </div>
                
                     
                      </div>
                    
                  
                      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
                
                        <!-- Position Column -->
                        <ng-container matColumnDef="ciudad_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Ciudad</th>
                          <td mat-cell *matCellDef="let element" class="text-center">{{element.ciudad_auditoria}} </td>
                        </ng-container>
                
                        <!-- Name Column -->
                        <ng-container matColumnDef="sede_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Sede</th>
                          <td mat-cell *matCellDef="let element" class="text-center"> {{element.sede_auditoria}} </td>
                        </ng-container>
                
                        <!-- Weight Column -->
                        <ng-container matColumnDef="zonas_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Zonas</th>
                          <td mat-cell *matCellDef="let element" class="text-center"> {{element.zonas_auditoria}} </td>
                        </ng-container>
                
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="fecha_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Fecha</th>
                          <td mat-cell *matCellDef="let element" class="text-center"> {{element.fecha_auditoria}} </td>
                        </ng-container>
                
                         <!-- Symbol Column -->
                        <ng-container matColumnDef="responsable_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Repsonsable</th>
                          <td mat-cell *matCellDef="let element" class="text-center"> {{element.responsable_auditoria}} </td>
                        </ng-container>
                
                       <!-- Symbol Column -->
                        <ng-container matColumnDef="activos_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Activos</th>
                          <td mat-cell *matCellDef="let element" class="text-center">{{element.activos_auditoria}} </td>
                        </ng-container>
                
                
                       <!-- Symbol Column -->
                        <ng-container matColumnDef="valor_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Valor</th>
                          <td mat-cell *matCellDef="let element" class="text-center"> {{element.valor_auditoria}} </td>
                        </ng-container>

                        <ng-container matColumnDef="estado_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Estado</th>
                          <td mat-cell *matCellDef="let element" class="text-center"> {{element.estado_auditoria}} </td>
                        </ng-container>


                        <ng-container matColumnDef="auditores_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Auditores</th>
                          <td mat-cell *matCellDef="let element" class="text-center"> {{element.auditores_auditoria}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cargar_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"></th>
                          <td mat-cell *matCellDef="let element" class="text-center"><mat-icon> {{element.cargar_auditoria}}</mat-icon> </td>
                        </ng-container>

                        <ng-container matColumnDef="editar_auditoria">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"></th>
                          <td mat-cell *matCellDef="let element" class="text-center"> <mat-icon> {{element.editar_auditoria}}</mat-icon> </td>
                        </ng-container>

                
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                      </table>
                
                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                
                    </mat-card>	
  
              </div>
              
              <div class="col-12">
  
                  <h6 class="card-title">
                      Cambios de valores
                  </h6>
                  <mat-card>
  
                  </mat-card> 
              </div>
      </div>
    </div>
  </div>

  <!-- Botón guardar -->
<button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
		<mat-icon class="save">save</mat-icon>
		<mat-icon class="check">check</mat-icon>
	</button>
	
	