<div id="module-content">
	

	<div class="container-fluid">
		<div class="row">

			<div class="col-4 text-center no-padding text-center">

					<div class="text-center">
							<h3 class="card-title">
								Centrífuga	
							</h3>
							<hr>
						</div>
					<div  class="swiper-container hvactivo">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../../assets/img/activo/ac1.jpg" class="img-fluid" alt="">
							</div>
						<div class="swiper-slide">
								<img src="../../assets/img/activo/ac2.jpg" class="img-fluid" alt="">
						</div>
						<div class="swiper-slide">
								<img src="../../assets/img/activo/ac3.jpg" class="img-fluid" alt="">
						</div>
					</div>

					<div class="swiper-pagination"></div>
					
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
					</div>

					
			</div>

			<div class="col-8 scroll-auto text-center">

				<div class="row ">
				
				<div class="col-4">
					<b>Id</b>
					<p>DM-001979</p>
				</div>
				<div class="col-4 ">
					<b>Tipo </b>
					<p>Dispositivos Medicos (DM)</p>
					
				</div>

				<div class="col-4 ">
						<b>Responsables  </b>
						<p>RUEDA ROJAS JUAN EMILIO</p>
						
					</div>

					<div class="col-4 ">
							<b>Sede  </b>
							<p>Taller Soporte Técnico</p>
							
						</div>

					<div class="col-4 ">
							<b>Zona </b>
							<p>- - -</p>
							
						</div>

					<div class="col-4 ">
							<b>Marca  </b>
							<p>NUVE</p>
							
						</div>

					<div class="col-4 ">
							<b>Modelo  </b>
							<p>CENTRIFUGA NF800 SEGUNDA SERIE</p>
							
						</div>

					<div class="col-4 ">
					<b>Serial </b>
					<p>05.4595</p>

					</div>


					<div class="col-4 ">
					<b>Valor Compra </b>
					<p>- - -</p>

					</div>

					<div class="col-4 ">
					<b>Valor Iva </b>
					<p>- - -</p>

					</div>

					<div class="col-4 ">
					<b>Fecha de compra </b>
					<p>2018/10/1993</p>

					</div>

				<div class="col-4 ">
					<b>Siniestros   </b>
					<p>- - -</p>
					
				</div>

				<div class="col-4 ">
					<b>Repotenciación  </b>
					<p>- - -</p>
					
				</div>

				<div class="col-12">
				
					
				 
				</div>
									
			
	
			
				
			</div>

			
		</div>

		<div class="col-12">
			<mat-card class="col add-bottom map-card">
				<agm-map [latitude]="lat" [longitude]="lng">
					<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				</agm-map>
			</mat-card>		
		</div>	
		<div class="col-12">
			<hr>
		</div>
			<div class="col-12 text-center">
				<button class="btn-primary-raised" mat-flat-button color="primary">
					<mat-icon>cloud_download</mat-icon>
				Descargar factura</button>

			</div>

		</div>
	</div>
</div>


