
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Código Activo -->
    <ng-container matColumnDef="nombre_alarma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Nombre Alarma</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.nombre_alarma}} </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="descripcion_alarma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Descripción Alarma</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.descripcion_alarma}} </td>
    </ng-container>

    <!--Sede -->
    <ng-container matColumnDef="tipo_alarma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Tipo Alarma</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.tipo_alarma}} </td>
    </ng-container>

    <!--  Valor Compra -->
    <ng-container matColumnDef="inicio_alarma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Inicio Alarma</th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.inicio_alarma}} </td>
    </ng-container>

    <!-- Iva-->
    <ng-container matColumnDef="ejecucion_alarma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Ejecución alarma</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.ejecucion_alarma}} </td>
    </ng-container>


    <!-- Responsable -->
    <ng-container matColumnDef="repeticion_alarma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Repeticion Alarma</th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.repeticion_alarma}} </td>
    </ng-container>

  

    <!-- Responsable -->
    <ng-container matColumnDef="nejecuciones_alarma">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Ejecuciones</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.nejecuciones_alarma}} </td>
    </ng-container>

      
      
    <!-- Responsable -->
    <ng-container matColumnDef="nactivos_alarma">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Activos</th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.nactivos_alarma}} </td>
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
    </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>