<div id="module-content">
	




	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h6 class="card-title">
					Busca tu activo
				</h6>
							
				<mat-card> 
					<div class="row">
						<div class="col-2">
							
							 <mat-form-field appearance="outline">
							    <mat-select placeholder="Ciudad"  name="Ciudad">
							      <mat-option *ngFor="let food of foods" [value]="food.value">

							        {{food.viewValue}}
							      </mat-option>
							    </mat-select>
							    <mat-label>Ciudad</mat-label>
							  </mat-form-field>
						</div>
						<div class="col-2">
							
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Sede">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
							  </mat-select>
							   <mat-label>Sede</mat-label>
							</mat-form-field>

						</div>
						<div class="col-2">
							
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Tipo">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
							  </mat-select>
							   <mat-label>Tipo</mat-label>
							</mat-form-field>

						</div>
						<div class="col-2">
							<mat-form-field appearance="outline">
							    <mat-label>Id de activo</mat-label>
							    <input matInput placeholder="Id de activo">
							</mat-form-field>
							
				

						</div>
						<div class="col-2">
							<mat-form-field appearance="outline">
							    <mat-label>Nombre</mat-label>
							    <input matInput placeholder="Nombre">
							</mat-form-field>
							

						</div>
						<div class="col-2">

							<mat-form-field appearance="outline">
							    <mat-label>Serial</mat-label>
							    <input matInput placeholder="Serial">
							</mat-form-field>
					

						</div>

					</div>

					<div class="row">
						

						<div class="col-2">
							<mat-form-field appearance="outline">
							  <input matInput [matDatepicker]="fechaDesde" placeholder="Compra desde">
							  <mat-datepicker-toggle matSuffix [for]="fechaDesde"></mat-datepicker-toggle>
							  <mat-datepicker #fechaDesde ></mat-datepicker>
							   <mat-label>Fecha desde</mat-label>
							</mat-form-field>


						</div>
						<div class="col-2">
							
							
							<mat-form-field appearance="outline">
							  <input matInput [matDatepicker]="fechaHasta" placeholder="Compra hasta" >
							  <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
							  <mat-datepicker #fechaHasta ></mat-datepicker>
							   <mat-label>Fecha hasta</mat-label>
							</mat-form-field>

						</div>
						<div class="col-2">
							<mat-form-field appearance="outline">
									<mat-label>Valor neto desde</mat-label>
									<input matInput>
							</mat-form-field>
						
						</div>
						<div class="col-2">
								<mat-form-field appearance="outline">
									<mat-label>Valor neto hasta</mat-label>
									<input matInput>
							</mat-form-field>
				

						</div>
						<div class="col-2">
							<mat-form-field appearance="outline">
								<mat-select placeholder="Tipo">
									<mat-option *ngFor="let food of foods" [value]="food.value">
									{{food.viewValue}}
									</mat-option>
								</mat-select>
								<mat-label>Estado</mat-label>
							</mat-form-field>
		

							

						</div>
						<div class="col-2 text-center">
								<button class="btn-primary-raised btn-small" mat-flat-button color="primary">Buscar</button>	
					

						</div>


					</div>


				
				</mat-card>
			</div>	

		</div>

		<div class="row">
			<div class="col-12 no-padding">
				<h6 class="card-title">
					Resumen de resultados
				</h6>
				<div class="row">
					<div class="col-3">
						<mat-card class="card-bg-color"> 
							<h3>12.345</h3>
							<span>Total de Activos</span>
						</mat-card>	

					</div>	

					<div class="col-3">
						<mat-card class="card-bg-color"> 

							<h3>345</h3>
							<span>Total de Sedes</span>
						</mat-card>	

					</div>

					<div class="col-3">
						<mat-card class="card-bg-color"> 
							<h3>20</h3>
							<span>Total de Ciudades</span>
						</mat-card>	

					</div>

					<div class="col-3">
						<mat-card class="card-bg-color"> 
							<h3>153</h3>
							<span>Total de Responsables</span>
						</mat-card>	

					</div>
				</div>
			</div>
		</div>
		<h6 class="card-title">
					Resultado de Activos
				</h6>
		<mat-card>	
			<div class="row align-items-top">
				
				
				<div class="col-4">

					<mat-form-field appearance="outline">
						<mat-label>Filtrar activos encontrados</mat-label>
					  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
					</mat-form-field>
					
				</div>

		

				<div class="col-8 text-center">
					<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Crear Alarma</button>
					<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;" 	routerLink="/mantenimiento/crear">Crear Mantenimiento </button>
					<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Cambiar Responsable </button>
					<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Cambiar Ubicación </button>
					<button class=" mat-red btn-small" mat-flat-button color="primary" style="margin:10px;" (click)="openBajaActivo()">Solicitar Baja </button>	
				

				</div>
			</div>
		
	
			<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

			   <!-- Checkbox Column -->
			  <ng-container matColumnDef="select">
			    <th mat-header-cell *matHeaderCellDef>
			      <mat-checkbox (change)="$event ? masterToggle() : null"
			                    [checked]="selection.hasValue() && isAllSelected()"
			                    [indeterminate]="selection.hasValue() && !isAllSelected()">
			      </mat-checkbox>
			    </th>
			    <td mat-cell *matCellDef="let row">
			      <mat-checkbox (click)="$event.stopPropagation()"
			                    (change)="$event ? selection.toggle(row) : null"
			                    [checked]="selection.isSelected(row)">
			      </mat-checkbox>
			    </td>
			  </ng-container>

			  <!-- Código Activo -->
			  <ng-container matColumnDef="codigo_activo">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Código Activo</th>
			    <td mat-cell *matCellDef="let element" class="text-center"><button class="btn-primary-raised tb-url" mat-flat-button color="primary" routerLink="/activo/hoja-de-vida" >{{element.codigo_activo}}</button> </td>
			  </ng-container>

			  <!-- Nombre -->
			  <ng-container matColumnDef="nombre_activo">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Nombre</th>
			    <td mat-cell *matCellDef="let element" class="text-center"> {{element.nombre_activo}} </td>
			  </ng-container>

			  <!-- Tipo -->
			  <ng-container matColumnDef="tipo_activo">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Tipo</th>
			    <td mat-cell *matCellDef="let element" class="text-center"> {{element.tipo_activo}} </td>
			  </ng-container>

			  <!--Sede -->
			  <ng-container matColumnDef="sede_activo">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Sede</th>
			    <td mat-cell *matCellDef="let element" class="text-center"> {{element.sede_activo}} </td>
			  </ng-container>

			   <!--  Valor Compra -->
			  <ng-container matColumnDef="valor_activo">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Valor Compra </th>
			    <td mat-cell *matCellDef="let element" class="text-center"> {{element.valor_activo}} </td>
			  </ng-container>

 			<!-- Iva-->
			  <ng-container matColumnDef="iva_activo">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Iva</th>
			    <td mat-cell *matCellDef="let element" class="text-center">{{element.iva_activo}} </td>
			  </ng-container>


			 <!-- Responsable -->
			  <ng-container matColumnDef="responsable_activo">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Responsable</th>
			    <td mat-cell *matCellDef="let element" class="text-center"> {{element.responsable_activo}} </td>
			  </ng-container>


			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;" >
			  </tr>
			</table>

			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

		</mat-card>	
	</div>
</div>

