<div id="module-content">
    <div class="container-fluid">
      	<div class="row"> 
       	 	<div class="col-12">
  
				<h6 class="card-title">
					Información de mantenimiento
				</h6>
		
				<mat-card>
					<div class="row">
						<div class="col-3">

							<mat-form-field appearance="outline">
								<mat-label>Tipo de actividad</mat-label>
								<input matInput placeholder="Tipo de actividad">  
							</mat-form-field>
							
						</div>
						<div class="col-3">
							<mat-form-field appearance="outline">
								<mat-select placeholder="Estado">
								<mat-option *ngFor="let food of foods" [value]="food.value">
									{{food.viewValue}}
								</mat-option>
								</mat-select>
								<mat-label>Estado</mat-label>
							</mat-form-field>

						</div>
					
						<div class="col-6">
								<mat-form-field appearance="outline">
										<mat-label>Observaciones</mat-label>
										<textarea matInput placeholder="Observaciones"></textarea>
									</mat-form-field>
										
								
						</div>

					</div>
		

				</mat-card>
			</div>

			<div class="col-12">
  
					<h6 class="card-title">
						Agregar atributo dinamico
					</h6>
			
					<mat-card>
						<div class="row" >
							<div class="col-4">
	
								<mat-form-field appearance="outline">
									<mat-label>Atributo 1</mat-label>
									<input matInput placeholder="">  
								</mat-form-field>
								
							</div>
							<div class="col-4">
								<mat-form-field appearance="outline">
									<mat-label>Valor 1</mat-label>
									<input matInput placeholder="">  
								</mat-form-field>

							</div>
						
							<div class="col-4">
									<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Agregar atributo</button>
	
									
							</div>
	
						</div>

						<div class="row">
								<div class="col-4">
		
									<mat-form-field appearance="outline">
										<mat-label>Atributo 2</mat-label>
										<input matInput placeholder="">  
									</mat-form-field>
									
								</div>
								<div class="col-4">
									<mat-form-field appearance="outline">
										<mat-label>Valor 2</mat-label>
										<input matInput placeholder="">  
									</mat-form-field>
	
								</div>
							
								<div class="col-4">
										<button class=" mat-red btn-small" mat-flat-button color="primary" style="margin:10px;">Eliminar</button>			
												
										
								</div>
		
							</div>
			
	
					</mat-card>
				</div>

				<div class="col-6">
  
						<h6 class="card-title">
							Carga tus archivos
						</h6>
				
						<mat-card>
							<div class="row">

								<div class="col-12 text-center">
				
									<button class="btn-primary-flat mat-flat-button mat-primary upload" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
									<label for="uploadIMG" style="margin:0;display:block;"><mat-icon>photo</mat-icon> Subir imágen</label>
									</button>
									<input id="uploadIMG" type="file" style="display:none;">
				
									<button class="btn-primary-flat mat-flat-button mat-primary upload" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
											<label for="uploadDOC" style="margin:0;display:block;"><mat-icon>insert_drive_file</mat-icon> Subir documento</label>
									</button>
									<input id="uploadDOC" type="file" style="display:none;">
				
									<input id="uploadContrato" type="file" style="display:none;">
								</div>

								</div>
					
					
						</mat-card>
						
					</div>

					<div class="col-6">
  
							<h6 class="card-title">
								Opciones de mantenimiento
							</h6>
					
							<mat-card>
								<div class="row">
	
									<div class="col-12 text-center">
											<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Crear mantenimiento</button>
											<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Crear alarma</button>
											<button class="mat-red" mat-flat-button color="primary" style="margin:10px;" (click)="openBajaMantenimiento()">Solicitar baja	(Opcional)</button>
									</div>
	
									</div>
						
						
							</mat-card>
							
						</div>
		</div>
	</div>
</div>

<!-- Botón cancelar -->
<button mat-mini-fab color="primary" class="circle-btn" id="cancelar">		  	
		<mat-icon>close</mat-icon>
	</button>
	

<!-- Botón guardar -->
<button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
	<mat-icon class="save">save</mat-icon>
	<mat-icon class="check">check</mat-icon>
</button>

