
<div id="app-navbar" >

   
    <ul id="nav">

      <li>
        <a routerLink="/dashboard"  routerLinkActive="active-link">
          <i class="material-icons">dashboard</i>
          Dashboard
        </a>
      </li>

      <li>     
        <mat-accordion>
        <mat-expansion-panel>
            
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons">settings_cell</i> Activo
            </mat-panel-title>
          </mat-expansion-panel-header>

          <li>
            <a routerLink="/crear-activo" routerLinkActive="active-link">
              Crear activo
            </a>
          </li>
          <li>
      
            <a routerLink="/buscar-activo" routerLinkActive="active-link">
              Buscar activo
            </a>
          </li>
              
        </mat-expansion-panel>
      </mat-accordion>
      </li>

      <li>
        <a routerLink="/responsable"  routerLinkActive="active-link">
           <i class="material-icons">person</i>
          Responsable
        </a>
      </li>


      <li>
        <a routerLink="/alarmas"  routerLinkActive="active-link">
           <i class="material-icons">alarm</i>
          Alarmas
        </a>
      </li>
      <li>
        <a routerLink="/mantenimiento"  routerLinkActive="active-link">
           <i class="material-icons">build</i>
          Mantenimiento
        </a>
      </li>

      <li>     

        <a routerLink="/ubicacion-sede"  routerLinkActive="active-link">
           <i class="material-icons">place</i>
          Ubicación sede
        </a>
     
      </li>

      <li>
        <a routerLink="/aprobaciones"  routerLinkActive="active-link">
           <i class="material-icons">playlist_add_check</i>
          Aprobaciones
        </a>
      </li>

      <li>
        <a routerLink="/auditoria"  routerLinkActive="active-link">
           <i class="material-icons">people</i>
          Auditoria
        </a>
      </li>
      
      <li>
        <a routerLink="/informes"  routerLinkActive="active-link">
           <i class="material-icons">insert_chart</i>
          Informes
        </a>
      </li>
      <!--li>
        <a routerLink="/configuracion"  routerLinkActive="active-link">
           <i class="material-icons">settings</i>
          Configuración
        </a>
      </li-->

      <li>
        <a routerLink="/conciliacion"  routerLinkActive="active-link">
           <i class="material-icons">format_list_bulleted</i>
          Conciliación
        </a>
      </li>
  
  </ul>

</div>
  
<div id="toggle-app">

  <button id="toggle-app-navbar"  type="button">
    <span class="line1"></span>
    <span class="line2"></span>
    <span class="line3"></span>
  </button>
</div>

<div id="overlay"></div>

<app-barra-superior  class="mat-elevation-z"></app-barra-superior>

<div id="app-content" >  
  <router-outlet></router-outlet> 
</div>
