<div id="module-content">

    <div class="container-fluid">
  
      <div class="row">
        
        <div class="col-12">
  
          <h6 class="card-title">
            Opciones de nuevo mantenimiento
          </h6>
  
          <mat-card >
      
            <div class="row">
  
                <div class="col-4">
                
                    <mat-form-field appearance="outline">
                      <mat-select placeholder="Sede">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </mat-option>
                      </mat-select>
                       <mat-label>Tipo de mantenimiento</mat-label>
                    </mat-form-field>
                     
                  </div>

                  <div class="col-4">
  
                      <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="pickerMantenimiento" placeholder="Fecha">
                        <mat-datepicker-toggle matSuffix [for]="pickerMantenimiento"></mat-datepicker-toggle>
                        <mat-datepicker #pickerMantenimiento></mat-datepicker>
                        <mat-label>Fecha de mantenimiento</mat-label>
                      </mat-form-field>
                    </div>
          <div class="col-4">
  
				<mat-form-field appearance="outline">
					<mat-select placeholder="Sede">
						<mat-option *ngFor="let food of foods" [value]="food.value">
						{{food.viewValue}}
						</mat-option>
					</mat-select>
						<mat-label>Responsable</mat-label>
					</mat-form-field>
					   
            
          </div>
  
          <div class="col-4">
            
            <mat-form-field appearance="outline">
              <mat-label>Proveedor</mat-label>
              <input matInput>
            </mat-form-field>
              
          </div>
              
          <div class="col-4">
            
              
				<mat-form-field appearance="outline">
					<mat-select placeholder="Sede">
						<mat-option *ngFor="let food of foods" [value]="food.value">
						{{food.viewValue}}
						</mat-option>
					</mat-select>
						<mat-label>Notificacion previa</mat-label>
					</mat-form-field>
					
                  
              
          		</div>
  
     
			
			<div class="col-4">
            
              
				
					<mat-form-field appearance="outline">
							<mat-label>Observación</mat-label>
							<textarea matInput></textarea>
						  </mat-form-field>
						
					  
				  
					  </div>
	  
			  
				</div>
  
      
            
          </mat-card>
          
        </div>

  
  
  <!-- Botón cancelar -->
  <button mat-mini-fab color="primary" class="circle-btn" id="cancelar">		  	
      <mat-icon>close</mat-icon>
    </button>
    
  
  <!-- Botón guardar -->
  <button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
    <mat-icon class="save">save</mat-icon>
    <mat-icon class="check">check</mat-icon>
  </button>
  
  