<div id="module-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">	
				<h6 class="card-title">
					
					Aprobaciones
				</h6>
			</div>
			<div class="col-12">	
				<mat-card> 
					<div class="row">

						<div class="col-2">
							<mat-form-field appearance="outline">
							    <mat-select placeholder="Ciudad"  name="Ciudad">
							      <mat-option *ngFor="let food of foods" [value]="food.value">
							        {{food.viewValue}}
							      </mat-option>
							    </mat-select>
							    <mat-label>Ciudad</mat-label>
							</mat-form-field>
						</div>

						<div class="col-3">
							<mat-form-field appearance="outline">
							    <mat-select placeholder="Ciudad"  name="Ciudad">
							      <mat-option *ngFor="let food of foods" [value]="food.value">
							        {{food.viewValue}}
							      </mat-option>
							    </mat-select>
							    <mat-label>Sede</mat-label>
							</mat-form-field>
						</div>

						<div class="col-2">
							<mat-form-field appearance="outline">
                                <mat-select placeholder="Ciudad"  name="Ciudad">
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-label>Zona</mat-label>
							</mat-form-field>
                        </div>

                        <div class="col-3">
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Ciudad"  name="Ciudad">
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-label>Auditoría</mat-label>
                            </mat-form-field>
                        </div>

                        <div class="col-2">
                            <button class="btn-primary-raised" mat-flat-button color="primary">Buscar</button>
                        </div>
                    </div>
              
                </mat-card> 
            </div>

           

			<div class="col-12">

                <h6 class="card-title">
                        Nuevos activos
                </h6>
				
				<mat-card>

					<div class="row">
				
						
						<div class="col-8">

							<mat-form-field appearance="outline">
								<mat-label>Filtrar activos encontrados</mat-label>
							  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
							</mat-form-field>
							
						</div>

							<div class="col-4 text-center">
									<button class="mat-green" mat-mini-fab style="margin:10px;" color="primary"> <mat-icon>check</mat-icon>		</button>
								<button class="mat-red" mat-mini-fab style="margin:10px;" color="primary"> <mat-icon>delete_forever</mat-icon>		</button>
							</div>
						</div>
						
				
						<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

						   <!-- Checkbox Column -->
						  <ng-container matColumnDef="select">
						    <th mat-header-cell *matHeaderCellDef>
						      <mat-checkbox (change)="$event ? masterToggle() : null"
						                    [checked]="selection.hasValue() && isAllSelected()"
						                    [indeterminate]="selection.hasValue() && !isAllSelected()">
						      </mat-checkbox>
						    </th>
						    <td mat-cell *matCellDef="let row">
						      <mat-checkbox (click)="$event.stopPropagation()"
						                    (change)="$event ? selection.toggle(row) : null"
						                    [checked]="selection.isSelected(row)">
						      </mat-checkbox>
						    </td>
						  </ng-container>

						  <!-- Position Column -->
						  <ng-container matColumnDef="codigo_activo">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Código Activo</th>
						    <td mat-cell *matCellDef="let element" class="text-center"> {{element.codigo_activo}} </td>
						  </ng-container>

						  <!-- Name Column -->
						  <ng-container matColumnDef="nombre_activo">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Nombre</th>
						    <td mat-cell *matCellDef="let element" class="text-center"> {{element.nombre_activo}} </td>
						  </ng-container>

						  <!-- Weight Column -->
						  <ng-container matColumnDef="neto_activo">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Neto</th>
						    <td mat-cell *matCellDef="let element" class="text-center"> {{element.neto_activo}} </td>
						  </ng-container>

						  <!-- Symbol Column -->
						  <ng-container matColumnDef="sede_activo">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Sede</th>
						    <td mat-cell *matCellDef="let element" class="text-center"> {{element.sede_activo}} </td>
						  </ng-container>

						   <!-- Symbol Column -->
						  <ng-container matColumnDef="realizado_activo">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Realizado por </th>
						    <td mat-cell *matCellDef="let element" class="text-center"> {{element.realizado_activo}} </td>
						  </ng-container>

			 			<!-- Symbol Column -->
						  <ng-container matColumnDef="fecha_activo">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Fecha</th>
						    <td mat-cell *matCellDef="let element" class="text-center">{{element.fecha_activo}} </td>
						  </ng-container>


						 <!-- Symbol Column -->
						  <ng-container matColumnDef="estatus_activo">
						    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Estatus</th>
						    <td mat-cell *matCellDef="let element" class="text-center"> {{element.estatus_activo}} </td>
						  </ng-container>
							
							 <!-- Symbol Column -->
							 <ng-container matColumnDef="aprobar_activo">
									<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"></th>
									<td mat-cell *matCellDef="let element" class="text-center"> <mat-icon>{{element.aprobar_activo}} </mat-icon></td>
								</ng-container>
	

								 <!-- Symbol Column -->
								 <ng-container matColumnDef="eliminar_activo">
										<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"></th>
										<td mat-cell *matCellDef="let element" class="text-center"> <mat-icon>{{element.eliminar_activo}} </mat-icon></td>
									</ng-container>
		

						  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
						     >
						  </tr>
						</table>

						<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			 


				</mat-card>

            </div>
            
            <div class="col-12">

                <h6 class="card-title">
                    Cambios de valores
                </h6>
                <mat-card>

                </mat-card> 
            </div>
		</div>
	</div>
</div>