<h5 class="text-center">Solicitar Baja</h5>

<mat-form-field appearance="outline">
	<mat-select placeholder="Ciudad"  name="Ciudad">
		<mat-option *ngFor="let food of foods" [value]="food.value">

		{{food.viewValue}}
		</mat-option>
	</mat-select>
	<mat-label>Causa</mat-label>
</mat-form-field>

<mat-form-field appearance="outline">
	<mat-label>Observación</mat-label>
	<textarea matInput placeholder="Escribe la razón de baja"></textarea>
</mat-form-field>

<div class="text-center">
<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Solicitar</button>
<button matDialogClose class="mat-red " mat-flat-button color="primary" style="margin:10px;">Cancelar</button>
</div>