<div id="module-content">
	

    <div class="container-fluid">
      <div class="row">
  
        <div class="col-5 text-center no-padding text-center">
            <mat-card>
  
            <div class="text-center">
                <h3 class="card-title">
                  Centrífuga	
                </h3>
                <hr>
              </div>
            <div  class="swiper-container hvactivo" [swiper]="config" >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../../assets/img/activo/ac1.jpg" class="img-fluid" alt="">
                </div>
              <div class="swiper-slide">
                  <img src="../../assets/img/activo/ac2.jpg" class="img-fluid" alt="">
              </div>
              <div class="swiper-slide">
                  <img src="../../assets/img/activo/ac3.jpg" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="swiper-pagination"></div>
            
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>

            </mat-card>
  
            
        </div>
  
        <div class="col-7 text-center">
          

          <mat-card>
  
          <div class="row ">
          
          <div class="col-4">
            <b>Id</b>
            <p>DM-001979</p>
          </div>
          <div class="col-4 ">
            <b>Tipo </b>
            <p>Dispositivos Medicos (DM)</p>
            
          </div>
  
          <div class="col-4 ">
              <b>Responsables  </b>
              <p>RUEDA ROJAS JUAN EMILIO</p>
              
            </div>
  
            <div class="col-4 ">
                <b>Sede  </b>
                <p>Taller Soporte Técnico</p>
                
              </div>
  
            <div class="col-4 ">
                <b>Zona </b>
                <p>- - -</p>
                
              </div>
  
            <div class="col-4 ">
                <b>Marca  </b>
                <p>NUVE</p>
                
              </div>
  
            <div class="col-4 ">
                <b>Modelo  </b>
                <p>CENTRIFUGA NF800 SEGUNDA SERIE</p>
                
              </div>
  
            <div class="col-4 ">
            <b>Serial </b>
            <p>05.4595</p>
  
            </div>
  
  
            <div class="col-4 ">
            <b>Estado</b>
            <p>- - -</p>
  
            </div>
  
            <div class="col-4 ">
            <b>Estado Contable</b>
            <p>- - -</p>
  
            </div>
  
            <div class="col-4 ">
            <b>Fecha de compra </b>
            <p>2018/10/1993</p>
  
            </div>
  
          <div class="col-4 ">
            <b>Siniestros   </b>
            <p>- - -</p>
            
          </div>
  
          <div class="col-4 ">
            <b>Repotenciación  </b>
            <p>- - -</p>
            
          </div>

          <div class="col-4 ">
            <b>Ciudad </b>
            <p>- - -</p>
            
          </div>

          <div class="col-4 ">
            <b>Departamento</b>
            <p>- - -</p>
            
          </div>
  
          <div class="col-12">
          <hr>
            
           
          </div>

          <div class="col-12 ">
              <b>Activos enlazados  </b>
              <p>- - -</p>
              
            </div>
                    
        
    
       
          
        </div>
    </mat-card>
        
      </div>

      <div class="col-12">
          <h6 class="card-title">
            Información Contable
            </h6>
          <mat-card class="col add-bottom">
    
            <p>No hay información disponible</p>
          </mat-card>		
     
        </div>

      <div class="col-12">

          <h6 class="card-title text-left">
              
          Atributos
             </h6>
			<mat-card class="col add-bottom">

         
       		 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="atributo">
                  <th mat-header-cell *matHeaderCellDef>Atributos </th>
                  <td mat-cell *matCellDef="let element"> {{element.atributo}} </td>
                </ng-container>
              

                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef>Valor </th>
                  <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Anexos </button>

      </mat-card>		
 
    </div>
	<div class="col-12">
		<mat-card class="col add-bottom">
			<mat-tab-group>
				<mat-tab label="Trazabilidad">
						<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

							<ng-container matColumnDef="atributo">
								<th mat-header-cell *matHeaderCellDef>Atributos </th>
								<td mat-cell *matCellDef="let element"> {{element.atributo}} </td>
							</ng-container>
							
			
							<ng-container matColumnDef="valor">
								<th mat-header-cell *matHeaderCellDef>Valor </th>
								<td mat-cell *matCellDef="let element"> {{element.valor}} </td>
							</ng-container>
							
							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>

				</mat-tab>
				<mat-tab label="Mantenimientos">


						<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

							<ng-container matColumnDef="atributo">
								<th mat-header-cell *matHeaderCellDef>Atributos </th>
								<td mat-cell *matCellDef="let element"> {{element.atributo}} </td>
							</ng-container>
							
			
							<ng-container matColumnDef="valor">
								<th mat-header-cell *matHeaderCellDef>Valor </th>
								<td mat-cell *matCellDef="let element"> {{element.valor}} </td>
							</ng-container>
							
							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>
				
				</mat-tab>
				<mat-tab label="Alarmas">
						<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

						<ng-container matColumnDef="atributo">
							<th mat-header-cell *matHeaderCellDef>Atributos </th>
							<td mat-cell *matCellDef="let element"> {{element.atributo}} </td>
						</ng-container>
						
		
						<ng-container matColumnDef="valor">
							<th mat-header-cell *matHeaderCellDef>Valor </th>
							<td mat-cell *matCellDef="let element"> {{element.valor}} </td>
						</ng-container>
						
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
						

				</mat-tab>
			</mat-tab-group>
	    </mat-card>		
    </div>
      <div class="col-12">
			<mat-card class="col add-bottom map-card">
				<agm-map [latitude]="lat" [longitude]="lng">
					<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				</agm-map>
			</mat-card>		
		</div>	
   
		<div class="col-12">
			<mat-card class="col text-center">
          		<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Descargar factura</button>
					<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;" routerLink="/mantenimiento/crear">Crear Mantenimiento </button>
          <button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Crear Alarma </button>
          <button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Editar activo</button>
					<button class=" mat-red btn-small" mat-flat-button color="primary" style="margin:10px;" (click)="openBajaActivo()">Solicitar Baja </button>	
			</mat-card>
    	</div>	
  
      </div>
    </div>
  </div>
  
  
  