<div id="module-content">
	

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">	
				<h6 class="card-title">
					Selección de activos
				</h6>
			</div>
			<div class="col-7">
				

				<mat-card> 


					<div class="row">

						<div class="col-9">	
							<mat-form-field appearance="outline">
								<mat-select placeholder="Favorite food">
								    <mat-option *ngFor="let food of foods" [value]="food.value">
								      {{food.viewValue}}
								    </mat-option>
								</mat-select>
								<mat-label>Sede</mat-label>
							</mat-form-field>
						</div>
						<div class="col-3">	
							<button class="btn-primary-flat" mat-flat-button color="primary">Editar</button>
						</div>
						<div class="col-3">
							<b>Nombre</b>
							<p>Alianza Diagnostica</p>
						</div>
						<div class="col-3">
							<b>Empresa</b>
							<p>Annar</p>
						</div>
						<div class="col-3">
							<b>Ciudad</b>
							<p>Bucaramanga</p>
						</div>
						<div class="col-3">
							<b>Dirección </b>
							<p>CALLE 45 No. 29-55</p>
						</div>
						<div class="col-3">
							<b>Teléfono</b>
							<p>555 5555</p>
						</div>
						<div class="col-3">
							<b>Encargado activos</b>
							<p>Lorem ipsum</p>
						</div>
						<div class="col-3">
							<b>Número activos</b>
							<p>6</p>
						</div>
						<div class="col-3">
							<b>Valor activos</b>
							<p>$ 0.00</p>
						</div>
					</div>
					
				</mat-card>

				
			</div>

			<div class="col-5">
					<mat-card>
						<div style="display: block">
						<canvas baseChart
								[data]="pieChartData"
								[labels]="pieChartLabels"
								[chartType]="pieChartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)"></canvas>
						</div>
					</mat-card>
			</div>

			<div class="col-lg-12">
					<h6 class="card-title">
							Foto de sede
						</h6>
				<mat-card class="text-center">
					<img src="/src/assets/img/FotoNoDisponible.png" alt="" class="img-fluid" style="max-width: 600px; margin:0 auto;">
				</mat-card>
		
			</div>	
		


		<div class="col-12">
			<div class="row">
				<div class="col-12">	
					<h6 class="card-title">
						Activos en la sede
					</h6>
				</div>

				
			<div class="col-2">
					<mat-card class="card-bg-color"> 
						<h3>0</h3>
						<span>Activos</span>
					</mat-card>	
	
				</div>	
	
				<div class="col-2">
					<mat-card class="card-bg-color"> 
	
						<h3>0</h3>
						<span>Valor neto</span>
					</mat-card>	
	
				</div>
	
				<div class="col-2">
					<mat-card class="card-bg-color"> 
						<h3>0</h3>
						<span>Valor Compra</span>
					</mat-card>	
	
				</div>
	
				<div class="col-2">
					<mat-card class="card-bg-color"> 
						<h3>0</h3>
						<span>Depreciación A.</span>
					</mat-card>	
	
				</div>
			<div class="col-2">
					<mat-card class="card-bg-color"> 
						<h3>0</h3>
						<span>Siniestros</span>
					</mat-card>	
	
				</div>
			<div class="col-2">
					<mat-card class="card-bg-color"> 
						<h3>0</h3>
						<span>Valor Siniestros</span>
					</mat-card>	
	
				</div>
	
			
	
			</div>

			<h6 class="card-title">
					Resultado de Activos
				</h6>
			<mat-card>	
				<div class="row align-items-top">
					
					
					<div class="col-12">

						<mat-form-field appearance="outline">
							<mat-label>Filtrar activos por sede</mat-label>
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
						</mat-form-field>
						
					</div>

			

				
				</div>
			
		
				<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

				<!-- Checkbox Column -->
				<ng-container matColumnDef="select">
					<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox (change)="$event ? masterToggle() : null"
									[checked]="selection.hasValue() && isAllSelected()"
									[indeterminate]="selection.hasValue() && !isAllSelected()">
					</mat-checkbox>
					</th>
					<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()"
									(change)="$event ? selection.toggle(row) : null"
									[checked]="selection.isSelected(row)">
					</mat-checkbox>
					</td>
				</ng-container>

				<!-- Código Activo -->
				<ng-container matColumnDef="codigo_activo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Código Activo</th>
					<td mat-cell *matCellDef="let element" class="text-center"><button class="btn-primary-raised tb-url" mat-flat-button color="primary" routerLink="/activo/hoja-de-vida" >{{element.codigo_activo}}</button> </td>
				</ng-container>

				<!-- Nombre -->
				<ng-container matColumnDef="nombre_activo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Nombre</th>
					<td mat-cell *matCellDef="let element" class="text-center"> {{element.nombre_activo}} </td>
				</ng-container>

				<!-- Tipo -->
				<ng-container matColumnDef="tipo_activo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Tipo</th>
					<td mat-cell *matCellDef="let element" class="text-center"> {{element.tipo_activo}} </td>
				</ng-container>

				<!--Sede -->
				<ng-container matColumnDef="sede_activo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Sede</th>
					<td mat-cell *matCellDef="let element" class="text-center"> {{element.sede_activo}} </td>
				</ng-container>

				<!--  Valor Compra -->
				<ng-container matColumnDef="valor_activo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Valor Compra </th>
					<td mat-cell *matCellDef="let element" class="text-center"> {{element.valor_activo}} </td>
				</ng-container>

				<!-- Iva-->
				<ng-container matColumnDef="iva_activo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Iva</th>
					<td mat-cell *matCellDef="let element" class="text-center">{{element.iva_activo}} </td>
				</ng-container>


				<!-- Responsable -->
				<ng-container matColumnDef="responsable_activo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Responsable</th>
					<td mat-cell *matCellDef="let element" class="text-center"> {{element.responsable_activo}} </td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;" >
				</tr>
				</table>

				<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

			</mat-card>	

			<div class="col-12 no-padding">
				<mat-card class="col add-bottom map-card">
					<agm-map [latitude]="lat" [longitude]="lng">
						<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
					</agm-map>
				</mat-card>		
			</div>	

		</div>
	</div>
</div>


<!-- Botón guardar -->
<button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
	<mat-icon class="save">save</mat-icon>
	<mat-icon class="check">check</mat-icon>
</button>

