<div id="module-content">

    <div class="container-fluid">
  
      <div class="row">
        
        <div class="col-12">
  
          <h6 class="card-title">
            Información de tu activo
          </h6>
  
          <mat-card >
      
            <div class="row">
              <div class="col-3">
  
                <mat-form-field appearance="outline">
                    <mat-label>Id de activo</mat-label>
                    <input matInput placeholder="Id de activo">  
                </mat-form-field>
                
              </div>
  
              <div class="col-3">
                
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre">
                </mat-form-field>
                 
              </div>
              <div class="col-3">
                
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Tipo">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                   <mat-label>Tipo</mat-label>
                </mat-form-field>
                 
              </div>
              <div class="col-3">
                
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Clientes Annar">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                   <mat-label>Clientes Annar</mat-label>
                </mat-form-field>
                 
              </div>
            </div>
  
  
            <div class="row">
              <div class="col-2">
                
                  
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Sede">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-label>Sede</mat-label>
                </mat-form-field>
  
              </div>
  
              <div class="col-2">
                
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Marca" value="">
                    <mat-label>Marca</mat-label>
                 </mat-form-field>
                 
              </div>
              <div class="col-2">
                
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Modelo" value="">
                    <mat-label>Modelo</mat-label>
                 </mat-form-field>
                 
              </div>
              <div class="col-4">
                
                <mat-form-field appearance="outline" >
                    <input matInput placeholder="Responsable" value="">
                    <mat-label>Responsable</mat-label>
                 </mat-form-field>
                 
              </div>
  
              <div class="col-2">
                
                  
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Estado">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-label>Estado</mat-label>
                </mat-form-field>
  
              </div>
            </div>
  
            <div class="row">
              <div class="col-2">
                
                  
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="picker" placeholder="Fecha">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-label>Fecha</mat-label>
                </mat-form-field>
  
              </div>
  
              <div class="col-2">
                
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Valor compra" value="">
                    <mat-label>Valor compra</mat-label>
                 </mat-form-field>
                 
              </div>
              <div class="col-2">
                
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Valor IVA" value="">
                    <mat-label>Valor IVA</mat-label>
                 </mat-form-field>
                 
              </div>
              <div class="col-4">
                
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Observación" value="">
                    <mat-label>Observación</mat-label>
                 </mat-form-field>
                 
              </div>
  
              <div class="col-2">
                
                  
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Estado">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-label>Estado</mat-label>
                </mat-form-field>
  
              </div>
            </div>
  
            
          </mat-card>
          
        </div>
  
        <div class="col-8">
  
          <h6 class="card-title">
            Depreciación
          </h6>
  
          <mat-card>
  
            <div class="row align-items-center">
              <div class="col-3">
                
                <mat-form-field>
                  <mat-select placeholder="Contabilidad">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
              </div>
  
              <div class="col-3">
                
                <mat-form-field>
                  <mat-select placeholder="Cuenta">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                 
              </div>
              <div class="col-3">
                
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Vida util" value="">
                 </mat-form-field>
                 
              </div>
              <div class="col-3 text-center	">
                 <button class="btn-primary-flat" mat-flat-button color="primary">Agregar</button>
              </div>
            </div>
  
  
  
  
          </mat-card>
          
        </div>
  
        <div class="col-4">
  
          <h6 class="card-title">
            Adjunta los archivos necesarios
          </h6>
  
          <mat-card>
            <button class="btn-primary-flat mat-flat-button mat-primary" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
              <label for="uploadIMG" style="margin:0;display:block;">Subir imágen</label>
            </button>
            <input id="uploadIMG" type="file" style="display:none;">
  
            <button class="btn-primary-flat mat-flat-button mat-primary" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
              <label for="uploadDOC" style="margin:0;display:block;">Subir documento</label>
            </button>
            <input id="uploadDOC" type="file" style="display:none;">
  
  
          </mat-card>
          
        </div>
  
  
  
      </div>
    </div>
  </div>
  <!-- Botón guardar -->
  <button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
    <mat-icon class="save">save</mat-icon>
    <mat-icon class="check">check</mat-icon>
  </button>
  