<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h6 class="card-title">
				Busca tu activo
			</h6>

	
				<div class="row" (click)="$event.stopPropagation();">
					<div class="col-4">


						<mat-form-field appearance="outline" >
						   <mat-select placeholder="Ciudad">
						    <mat-option *ngFor="let food of foods" [value]="food.value">
						      {{food.viewValue}}
						    </mat-option>
						  </mat-select>
						 </mat-form-field>

					</div>
					<div class="col-4">
						
						<mat-form-field appearance="outline">
						  <mat-select placeholder="Sede">
						    <mat-option *ngFor="let food of foods" [value]="food.value">
						      {{food.viewValue}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>

					</div>
					<div class="col-4">
						
						<mat-form-field appearance="outline">
						  <mat-select placeholder="Tipo">
						    <mat-option *ngFor="let food of foods" [value]="food.value">
						      {{food.viewValue}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>

					</div>
					<div class="col-4">
						
						
						<mat-form-field appearance="outline">
						    <mat-label>Id de activo</mat-label>
						    <input matInput placeholder="Id de activo">
						</mat-form-field>


					</div>
					<div class="col-4">
						
						<mat-form-field appearance="outline">
						    <mat-label>Nombre</mat-label>
						    <input matInput placeholder="Nombre">
						</mat-form-field>

					</div>
					<div class="col-4">
						<mat-form-field appearance="outline">
						  <mat-select placeholder="Estado">
						    <mat-option *ngFor="let food of foods" [value]="food.value">
						      {{food.viewValue}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>
					</div>

					

				</div>

				<div class="row">
					<div class="col-12 text-center	">
						 <button class="btn-primary-flat" mat-flat-button color="primary" routerLink="/buscar-activo" >Buscar</button>
					</div>
				</div>

				

		</div>	
	</div>
</div>


