<div id="module-content">


<div class="container-fluid">
	<div class="row">
		<div class="col-12 text-center">

			<mat-tab-group>
				<mat-tab label="Todos">

					<mat-card>
						<app-mantenimiento-todos></app-mantenimiento-todos>
					</mat-card>
				</mat-tab>
				<mat-tab label="Vencidos">
					<mat-card>
						<app-mantenimiento-vencidos></app-mantenimiento-vencidos>
					</mat-card>
				</mat-tab>
				<mat-tab label="Pendientes">
					<mat-card>
						<app-mantenimiento-pendientes></app-mantenimiento-pendientes>
					</mat-card>
				</mat-tab>
				<mat-tab label="Realizados">
					<mat-card>
						<app-mantenimiento-realizados></app-mantenimiento-realizados>
					</mat-card>
				</mat-tab>
			</mat-tab-group>

			<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;"  routerLink="/mantenimiento/crear">Crear mantenimiento</button>
			
		</div>	
	</div>	
</div>	