<div id="module-content">
	

	<div class="container-fluid">
    
    	<mat-card>
  
			<div class="row">

				<div class="col-4 text-center no-padding add-bottom">
					<div class="img-content person card-bg-color">
						<img src="../../assets/img/doc.jpg" alt="" class="img-fluid">
					</div>
				</div>

				<div class="col-8 text-center add-bottom">
					<div class="row">
						<div class="col-12 text-center">
							<h3 class="card-title">
								RUEDA ROJAS JUAN EMILIO
							</h3>
							<hr>
						</div>

						<div class="col-4">
							<b>Cédula</b>
							<p>111222333</p>
						</div>
						<div class="col-4">
							<b>Fecha de nacimiento </b>
							<p>1900-01-01</p>
						</div>
						<div class="col-4">
							<b>Cargo </b>
							<p>Jefe</p>
						</div>
						<div class="col-4">
							<b>Número teléfono </b>
							<p>79296689</p>
						</div>
						<div class="col-4">
							<b>Fecha de ingreso </b>
							<p>2016-01-01</p>
						</div>
						<div class="col-4">
							<b>Sede </b>
							<p>BOGOTA-SEDE ANNAR</p>
						</div>
						<div class="col-4">
							<b>Correo electrónico </b>
							<p>admin@annar.com</p>
						</div>

					</div>

				  </div>
				  
			</div>	  

		</mat-card>
		
   
		
		<div class="row">
						
			<div class="col-2">
				<mat-card class="card-bg-color"> 
					<h3>153</h3>
					<span>Activos a cargo</span>
				</mat-card>	

			</div>
			<div class="col-2">
				<mat-card class="card-bg-color"> 
					<h3>$ 0</h3>
					<span>Valor neto</span>
				</mat-card>	

			</div>
			<div class="col-2">
				<mat-card class="card-bg-color"> 
					<h3>$ 0</h3>
					<span>Valor compra</span>
				</mat-card>	

			</div>
			<div class="col-2">
				<mat-card class="card-bg-color"> 
					<h3>153</h3>
					<span>Depreciación Acumulada</span>
				</mat-card>	

			</div>
			<div class="col-2">
				<mat-card class="card-bg-color"> 
					<h3>153</h3>
					<span>Siniestros</span>
				</mat-card>	

			</div>
			<div class="col-2">
				<mat-card class="card-bg-color"> 
					<h3>$ 0</h3>
					<span>Valor Siniestros</span>
				</mat-card>	

			</div>
		</div>

		<h6 class="card-title">
			Activos a cargo
		</h6>
		<mat-card>	
			<div class="row align-items-top">
				
				
				<div class="col-4">

					<mat-form-field appearance="outline">
						<mat-label>Filtrar activos encontrados</mat-label>
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
					</mat-form-field>
					
				</div>


			</div>
		

			<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

			

			<!-- Código Activo -->
			<ng-container matColumnDef="codigo_activo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Código Activo</th>
				<td mat-cell *matCellDef="let element" class="text-center"><button class="btn-primary-raised tb-url" mat-flat-button color="primary" routerLink="/activo/hoja-de-vida" >{{element.codigo_activo}}</button> </td>
			</ng-container>

			<!-- Nombre -->
			<ng-container matColumnDef="nombre_activo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Nombre</th>
				<td mat-cell *matCellDef="let element" class="text-center"> {{element.nombre_activo}} </td>
			</ng-container>

			<!-- Tipo -->
			<ng-container matColumnDef="tipo_activo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Tipo</th>
				<td mat-cell *matCellDef="let element" class="text-center"> {{element.tipo_activo}} </td>
			</ng-container>

			<!--Sede -->
			<ng-container matColumnDef="sede_activo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Sede</th>
				<td mat-cell *matCellDef="let element" class="text-center"> {{element.sede_activo}} </td>
			</ng-container>

			<!--  Valor Compra -->
			<ng-container matColumnDef="valor_activo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Valor Compra </th>
				<td mat-cell *matCellDef="let element" class="text-center"> {{element.valor_activo}} </td>
			</ng-container>

			<!-- Iva-->
			<ng-container matColumnDef="iva_activo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Iva</th>
				<td mat-cell *matCellDef="let element" class="text-center">{{element.iva_activo}} </td>
			</ng-container>


			<!-- Responsable -->
			<ng-container matColumnDef="responsable_activo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Responsable</th>
				<td mat-cell *matCellDef="let element" class="text-center"> {{element.responsable_activo}} </td>
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"
				(click)="selection.toggle(row)">
			</tr>
			</table>

			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

		</mat-card>	


				
		<div class="col-12">
			<hr>
		</div>

		
		<div class="col-12 text-center">

			
			<button class="btn-primary-raised" mat-flat-button color="primary">
				<mat-icon>cloud_download</mat-icon>
			Descargar informe</button>

		</div>

		
	</div>
</div>


