@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~swiper/dist/css/swiper.min.css';

/***** ROOT
************************************/

:root{

	/* Easing */

	--easestd: all 350ms cubic-bezier(0.4, 0.0, 0.2, 1);
	--easein: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
	--easeout: all 200ms cubic-bezier(0.4, 0.0, 1, 1);

	/* Colors */

	--pri:#204b8d;		/* PRIMARIO */
	--sec:#0084ce;		/* SECUNDARIO */
	--ter:#7cb342;
    --ok: #4cca4c;       /* Green */    
	

	--light1:#ffffff;
	--light2:#efefef;
	--light3:#363537;

}




/***** BASICS
************************************/

body{
    background-color: var(--light2) !important;
    font-family: 'Nunito', sans-serif !important;
	-webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-rendering: optimizeLegibility;  
    color:#333;
}




:focus{

    outline: none !important;
}

.add-bottom{
    margin-bottom:20px !important; 
}
.add-top{
    margin-top:20px !important; 
}
/* Track */

::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    margin-right: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgba(85, 85, 85, 0.2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.7); 
}


/***** APP NAVBAR 
************************************/


#app-navbar {
    width: 180px;
    position: fixed;
    height: calc(100vh);
    background-color:#fff;
    top: 0px;
    left: 0;
    transition: var(--easeout);
    -webkit-transition: var(--easeout);
    z-index: 200;
    color:#000;
    overflow-y:auto;
    padding-top: 60px;
}


ul#nav {
    list-style: none;
    padding: 0;
    padding-top: 15px;
}

ul#nav >  li:hover > a {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;

}


ul#nav > li:hover > i {
    opacity: 1;
    color:#48a6bb;
}


ul#nav li a {
    padding: 12px;
    padding-left: 50px;
    display: block;
    font-size: 14px;
    color: #2C3146;
    letter-spacing: 0;
}
ul#nav li .material-icons {
    position: absolute;
    left: 15px;
    font-size: 20px;
    pointer-events: none;	
    opacity: 1;

}
ul#nav .mat-expansion-panel-body {
    padding: 0;
    background: rgba(255, 255, 255, 0.15);
}

ul#nav .mat-expansion-panel{
    box-shadow: none;
        background: transparent;
}


a.active-link {
    font-weight: 500;
    background:linear-gradient(45deg, #1ad4e2 0%,#0088ce 100%);
    color: #fff !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0px 0.8em 0;
}

.mat-form-field-appearance-outline .mat-form-field-label {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
} 

mat-panel-title.mat-expansion-panel-header-title {
    padding-left: 26px;
    color: #2C3146;
    font-size: 14px;

}



.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color:#2C3146;
}

mat-form-field {
  width: 100%;
}

#toggle-app-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 205;
    transition: var(--easeout);
    background: transparent;
    border: 0;
    transform: scale(1) translateX(-55px);
}



#toggle-app-navbar.active span {
    background: #2c3245;
    transition: var(--easein);
	-webkit-transition: var(--easein);
}

#toggle-app-navbar span {
    background: #fff;
    width: 28px;
    height: 2px;
    border-radius: 0px;
    position: absolute;
    left: 11px;
    transition: var(--easeout);
	-webkit-transition: var(--easeout);

}

#toggle-app-navbar span.line1 {
    top: 13px;
}

#toggle-app-navbar span.line2 {
    top: 24px;
    width: 20px;
    right:0;
}

#toggle-app-navbar span.line3 {
    top: 35px;
}
    
/* Menu Close */

#toggle-app-navbar.active span.line1{

    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 24px;

}
#toggle-app-navbar.active span.line2{
    width: 0px;
}
#toggle-app-navbar.active span.line3{
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 24px;
}



/***** APP CONTENT
************************************/



#app-content {
    width: calc(100% - 180px);
    right: 0;
    top: 70px;
    height: calc(100vh - 70px);
    position: fixed;
    transition: var(--easeout);
    -webkit-transition: var(--easeout);
    z-index: 10;
    background-color: var(--light2);
}


#app-content .mat-card {
    border-radius: 5px;
    font-family: inherit;
    margin-bottom: 25px;
    padding: 24px 10px;
}

#module-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.row.ng-star-inserted {
    margin: 0 !important;
}

/***** TABLES
************************************/



#app-content  .mat-table {
    color: #fff;
    background: transparent;
    width: 100%;
    box-shadow: none;
    font-family: inherit;
}

.mat-table h5 {
    margin: 0;
}

.mat-header-cell {
    color:#2C3146;
    font-weight: 700;
    font-size: 16px;
}

.mat-sort-header-button {

    margin: 0 auto;
}
tr.mat-row:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
}
.mat-sort-header-arrow {
    color: #b9b9b9;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px;
    padding-right: 10px;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #1C4B8D;
}

/***** APP HEADBAR
************************************/

app-barra-superior {
    background: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    padding: 15px 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.busca-activo.mat-menu-panel {
    min-width: 112px;
    max-width: 600px;
    overflow: auto;
    max-height: calc(100vh - 48px);
    border-radius: 5px;
    outline: 0;
    margin-top: 40px;
}

.busca-activo.mat-menu-panel.notificaciones {
    padding: 15px;
    min-width: 200px;
    text-align: center
}

/***** CARDS
************************************/
.card-bg-color.mat-card {
    background: linear-gradient(45deg, #1ad4e2 0%,#0088ce 100%);
    color: #fff !important;
    text-align: center;
}
.card-title {
    color: var(--pri);
}


/***** BUTTONS
************************************/

button.btn-primary-flat,
button.mat-flat-button
 {
    border-radius: 24px;
    background: linear-gradient(45deg, #1ad4e2 0%,#0088ce 100%);
}

#guardar {
    background: linear-gradient(45deg, #1ad4e2 0%,#0088ce 100%);
}
#cancelar {
    position: fixed;
    right: 35px;
    bottom: 100px;
    background: #ff100b;
    width: 48px;
    height: 48px;
}
button.tb-url {
    background: transparent !important;
    color: #204b8d !important;
    font-size: 14px;
    border: 1px solid #204b8d;
}

button.mat-red{
    background-color: #dd4444 !important;
    background: #dd4444 !important;
    
}
button.mat-green{
    background-color: #8bc34a !important;

}
button.btn-small {
    font-size: 13px;
    margin: 5px !important;
    padding: 0px 7px;
}

.upload mat-icon {
    top: 6px;
    position: relative;
}

.btn-responsable.mat-button {
    width: 30px;
    min-width: 30px;
    padding: 0;
    text-align: center;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #15c5de;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #15c5de;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color:rgba(21, 197, 222, 0.5);
}

td button.icon {
    min-width: inherit;
    padding: 0;
    margin: 0 5px;
}

td mat-icon {
    margin: 0 5px;
    color: #707070;
    cursor:pointer; 
}
/* Boton guardar */


button#guardar {
    z-index: 100;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.circle-btn:before {
    background: var(--primary);
    opacity: 0.2;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: -1;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: var(--ease-out);
}

.circle-btn:hover:before {
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
    transition: var(--ease-in);
}



.circle-btn:hover mat-icon {
    transform: scale(1.2);
    transition: var(--ease-in);
}

.circle-btn mat-icon {
    transform: scale(1);
    transition: var(--ease-out);
}


 
.circle-btn .check{
    transform: scale(0);
    display: none;
    transition-delay: 200ms;
}
.circle-btn.active .check{
    transition-delay: 200ms;
    transform: scale(1.4);
    display: block;
}

.circle-btn > div,
.circle-btn > span,
.circle-btn > mat-icon{
    pointer-events: none;
}


.circle-btn .check{
    transform: scale(0);
    display: none;
    transition-delay: 1000ms;
    transition: var(--ease-in);
    color: #fff;
    animation: appear 3s;
}

.circle-btn.active:before {
    background:var(--primary);
    opacity: 0.2;

}
.circle-btn.active .save{
    transition: var(--ease-out);
    transform: scale(0);
    display:none;
   
}

.circle-btn.active {
    -webkit-animation: mymove 3s ;
    animation: mymove 3s ;
}

@keyframes mymove {
    0%{
        transform: scale(1);
            background-color: var(--primary);

    }
    10%  {
        transform: scale(1);
        
        transition: var(--ease-out);
    }

    50%  {   
        background-color: var(--primary);
        transform: scale(1);
    }
    75%  {
            background: #8bc34a;
              transform: scale(1.1);
            transition: var(--ease-out);
    }
    100% {   transform: scale(1);
        background: #8bc34a;
    }
}


.circle-btn.active:after {
    border: 2px dashed #8bc34a;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: -1;
    content: '';
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    transition: var(--ease-out);
    animation: spin 3s infinite linear;
    transform: scale(0);
}

@keyframes spin {
    0% {transform: rotate(0deg) scale(1);
    border:2px dashed var(--primary);}

    50%{  
        transform: rotate(180deg) scale(1);
        border:2px dashed var(--primary);
    }
    60%{ 
        transform: rotate(216deg) scale(0);  
        border: 2px dashed #8bc34a;
    }


    100% {transform: rotate(360deg) scale(0);
    border: 2px dashed #8bc34a;}

}

@keyframes appear {
    0%{transform: scale(0);}
    49%{transform: scale(0);
        transition: var(--ease-out);}
    50% {
        transform: scale(1);
         transition: var(--ease-out);
    }
}


/***** DIALOGS
************************************/



.hoja-de-vida-activo .mat-dialog-container,
.hoja-de-vida .mat-dialog-container {
    overflow: hidden;
    border-radius: 5px;
    max-width: calc(100% - 60px) !important ;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*.cdk-global-overlay-wrapper {
    overflow-y: auto;
}*/

.swiper-container.hvactivo{
    max-width: 600px;
    margin: 0 auto;
}

div.scroll-auto {
    overflow-y: scroll;
    height: 350px;
}

.img-content.person {
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}


.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--sec) !important;
}

/* Angular maps Globa css */

agm-map {
    height: 400px;
}

mat-card.map-card {
    padding: 0 !important;
    overflow: hidden;
}
