<div id="module-content">
	

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h6 class="card-title">
					Selección de activos
				</h6>

				<mat-card> 

					<div class="row">
						<div class="col-4">
							<mat-form-field appearance="outline">
								<mat-select >
								    <mat-option *ngFor="let food of foods" [value]="food.value">
								      {{food.viewValue}}
								    </mat-option>
								</mat-select>
								<mat-label>Tipo de activo</mat-label>
							</mat-form-field>
						</div>
						<div class="col-4">
							<mat-form-field appearance="outline">
							    <mat-label>Nombre de alarma	</mat-label>
							    <input matInput >
							</mat-form-field>
						</div>

						<div class="col-4">
							<mat-form-field appearance="outline">
								<mat-select >
								    <mat-option *ngFor="let food of foods" [value]="food.value">
								      {{food.viewValue}}
								    </mat-option>
								</mat-select>
								<mat-label>Notificar</mat-label>
							</mat-form-field>

						</div>

						<div class="col-4">
							<mat-form-field appearance="outline">
								<mat-select >
								    <mat-option *ngFor="let food of foods" [value]="food.value">
								      {{food.viewValue}}
								    </mat-option>
								</mat-select>
								<mat-label>Tipo de activo</mat-label>
							</mat-form-field>

						</div>

						<div class="col-4">
							<mat-form-field appearance="outline">
							    <mat-label>Apellido</mat-label>
							    <input matInput >
							</mat-form-field>

						</div>

						<div class="col-4">
							

									<mat-form-field appearance="outline">
							    <mat-label>Descripción alarma</mat-label>
							    <textarea matInput ></textarea>
							</mat-form-field>

						</div>
					
					</div>

					
				</mat-card>

				
			</div>

			<div class="col-12">
				<mat-card>
						<app-grilla-alarmas></app-grilla-alarmas>
				</mat-card>
			</div>
		</div>
	</div>
</div>


<!-- Botón guardar -->
<button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
	<mat-icon class="save">save</mat-icon>
	<mat-icon class="check">check</mat-icon>
</button>

