<div id="module-content">

	<div class="container-fluid">

		<div class="row">
			
			<div class="col-12">

				<h6 class="card-title">
					Información de tu activo
				</h6>

				<mat-card >
		
					<div class="row">
						<div class="col-3">

							<mat-form-field appearance="outline">
							    <mat-label>Id de activo</mat-label>
							    <input matInput placeholder="Id de activo">  
							</mat-form-field>
							
						</div>

						<div class="col-3">
							
							<mat-form-field appearance="outline">
							    <mat-label>Nombre</mat-label>
							    <input matInput placeholder="Nombre">
							</mat-form-field>
							 
						</div>
						<div class="col-3">
							
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Tipo">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
							  </mat-select>
							   <mat-label>Tipo</mat-label>
							</mat-form-field>
							 
						</div>
						<div class="col-3">
							
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Clientes Annar">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
							  </mat-select>
							   <mat-label>Clientes Annar</mat-label>
							</mat-form-field>
							 
						</div>
					</div>


					<div class="row">
						<div class="col-2">
							
								
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Sede">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
							  </mat-select>
							  <mat-label>Sede</mat-label>
							</mat-form-field>

						</div>

						<div class="col-2">
							
							<mat-form-field appearance="outline">
							    <input matInput placeholder="Marca" value="">
							    <mat-label>Marca</mat-label>
							 </mat-form-field>
							 
						</div>
						<div class="col-2">
							
							<mat-form-field appearance="outline">
							    <input matInput placeholder="Modelo" value="">
							    <mat-label>Modelo</mat-label>
							 </mat-form-field>
							 
						</div>
						<div class="col-4">
							
							<mat-form-field appearance="outline" >
							    <input matInput placeholder="Responsable" value="">
							    <mat-label>Responsable</mat-label>
							 </mat-form-field>
							 
						</div>

						<div class="col-2">
							
								
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Estado">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
							  </mat-select>
							  <mat-label>Estado</mat-label>
							</mat-form-field>

						</div>
					</div>

					<div class="row">
						<div class="col-2">
							
								
							<mat-form-field appearance="outline">
							  <input matInput [matDatepicker]="picker" placeholder="Fecha">
							  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							  <mat-datepicker #picker></mat-datepicker>
							  <mat-label>Fecha</mat-label>
							</mat-form-field>

						</div>

						<div class="col-2">
							
							<mat-form-field appearance="outline">
							    <input matInput placeholder="Valor compra" value="">
							    <mat-label>Valor compra</mat-label>
							 </mat-form-field>
							 
						</div>
						<div class="col-2">
							
							<mat-form-field appearance="outline">
							    <input matInput placeholder="Valor IVA" value="">
							    <mat-label>Valor IVA</mat-label>
							 </mat-form-field>
							 
						</div>
						<div class="col-4">
							
							<mat-form-field appearance="outline">
							    <input matInput placeholder="Observación" value="">
							    <mat-label>Observación</mat-label>
							 </mat-form-field>
							 
						</div>

						<div class="col-2">
							
								
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Estado">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
							  </mat-select>
							  <mat-label>Estado</mat-label>
							</mat-form-field>

						</div>
					

						<div class="col-12">
							<hr>
						</div>
					</div>

					<div class="row align-items-center">
						<div class="col-4 text-center"><p>Enlazar a activo (Opcional)</p>	</div>
						<div class="col-4">
							<mat-form-field appearance="outline">
								<mat-select >
									<mat-option *ngFor="let food of foods" [value]="food.value">
									{{food.viewValue}}
									</mat-option>
								</mat-select>
								<mat-label>Selecciona activo</mat-label>
							</mat-form-field>	

						</div>	

						<div class="col-4 text-center">
							<button class="btn-primary-raised" mat-flat-button color="primary" style="margin:10px;">Crear activos por lote</button>
						</div>
					
					
					</div>

					
				</mat-card>
				
			</div>



			<div class="col-12">

				<h6 class="card-title">
					Datos del proveedor
				</h6>

				<mat-card>

					<div class="row align-items-center">
						<div class="col-3">
							
							<mat-form-field appearance="outline">
								<input matInput  value="">
								<mat-label>Nombre de la empresa</mat-label>
							</mat-form-field>
				
						</div>

						<div class="col-3">
							
							<mat-form-field appearance="outline">
								<input matInput value="">
								<mat-label>Nombre de contacto</mat-label>
							</mat-form-field>
				
						</div>
						<div class="col-3">
						
							<mat-form-field appearance="outline">
								<input matInput value="">
								<mat-label>Teléfono</mat-label>
							</mat-form-field>
				
						</div>
						<div class="col-3">
							
							<mat-form-field appearance="outline">
								<input matInput value="">
								<mat-label>Celular</mat-label>
							</mat-form-field>
				
						</div>
						<div class="col-4">
							
							<mat-form-field appearance="outline">
								<input matInput value="">
								<mat-label>Correo electrónico</mat-label>
							</mat-form-field>
				
						</div>

						<div class="col-4">
							
							<mat-form-field appearance="outline">
								<input matInput value="">
								<mat-label>Dirección</mat-label>
							</mat-form-field>
				
						</div>
						<div class="col-4">
							<mat-form-field appearance="outline">
								<mat-select placeholder="Estado">
									<mat-option *ngFor="let food of foods" [value]="food.value">
									{{food.viewValue}}
									</mat-option>
								</mat-select>
								<mat-label>Ciudad</mat-label>
							</mat-form-field>	
					
						</div>

					</div>		
	
				</mat-card>
					
			</div>
	

			<div class="col-12">

				<h6 class="card-title">
					Información Contable
				</h6>

				

				<mat-card>

					<div class="row align-items-center">
						<div class="col-3">
							
							<mat-form-field appearance="outline">
							  <mat-select placeholder="Contabilidad">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
								</mat-select>
								<mat-label>Contabilidad</mat-label>
							</mat-form-field>

						</div>

						<div class="col-3">
							
								<mat-form-field appearance="outline">
							  <mat-select placeholder="Cuenta">
							    <mat-option *ngFor="let food of foods" [value]="food.value">
							      {{food.viewValue}}
							    </mat-option>
								</mat-select>
								<mat-label>Cuenta</mat-label>
							</mat-form-field>
							 
						</div>
						<div class="col-3">
							
								<mat-form-field appearance="outline">
									<input matInput placeholder="Vida util" value="">
									<mat-label>Vida util</mat-label>
							 </mat-form-field>
							 
						</div>
						<div class="col-3 text-center	">
							 <button class="btn-primary-flat" mat-flat-button color="primary">Agregar</button>
						</div>
					</div>




				</mat-card>
				
			</div>

			
			

			<div class="col-7">

				<h6 class="card-title">
					Adjunta los archivos necesarios
				</h6>

				<mat-card>
					<button class="btn-primary-flat mat-flat-button mat-primary upload" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
					 <label for="uploadIMG" style="margin:0;display:block;"><mat-icon>photo</mat-icon> Subir imágen</label>
					</button>
					<input id="uploadIMG" type="file" style="display:none;">

					<button class="btn-primary-flat mat-flat-button mat-primary upload" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
							<label for="uploadDOC" style="margin:0;display:block;"><mat-icon>insert_drive_file</mat-icon> Subir documento</label>
					</button>
					<input id="uploadDOC" type="file" style="display:none;">

					<button class="btn-primary-flat mat-flat-button mat-primary upload" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
							<label for="uploadContrato" style="margin:0;display:block;"> 	<mat-icon>assignment_turned_in</mat-icon>	Adjuntar contrato</label>
						</button>
						<input id="uploadContrato" type="file" style="display:none;">


				</mat-card>
				
			</div>
			<div class="col-5">

					<h6 class="card-title">
						Plantilla Excel
					</h6>
	
					<mat-card>
						<button class="btn-primary-flat mat-flat-button mat-primary" style="margin:10px;" mat-flat-button type="button">
							<mat-icon>cloud_download</mat-icon> Descargar .XLSX
						</button>

						<button class="btn-primary-flat mat-flat-button mat-primary upload" style="margin:10px;" mat-flat-button type="button" onclick="document.getElementById('fileToUpload').click()">
							<label for="uploadPlantilla" style="margin:0;display:block;"> 	<mat-icon>cloud_upload</mat-icon> Cargar .XLSX</label>
						</button>
						<input id="uploadPlantilla" type="file" style="display:none;">
					
					</mat-card>
					
				</div>
				<div class="col-12">
  
						<h6 class="card-title">
							Agregar atributo dinamico
						</h6>
				
						<mat-card>
							<div class="row">
								<div class="col-4">
		
									<mat-form-field appearance="outline">
										<mat-label>Atributo 1</mat-label>
										<input matInput placeholder=" ">  
									</mat-form-field>
									
								</div>
								<div class="col-4">
									<mat-form-field appearance="outline">
										<mat-label>Valor 1</mat-label>
										<input matInput placeholder=" ">  
									</mat-form-field>
	
								</div>
							
								<div class="col-4">
										<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Agregar atributo</button>
										<button class=" mat-red btn-small" mat-flat-button color="primary" style="margin:10px;">Eliminar</button>		
										
								</div>
		
							</div>
	
							<div class="row">
									<div class="col-4">
			
										<mat-form-field appearance="outline">
											<mat-label>Atributo 2</mat-label>
											<input matInput placeholder=" ">  
										</mat-form-field>
										
									</div>
									<div class="col-4">
										<mat-form-field appearance="outline">
											<mat-label>Valor 2</mat-label>
											<input matInput placeholder=" ">  
										</mat-form-field>
		
									</div>
								
									<div class="col-4">
											<button class=" mat-red btn-small" mat-flat-button color="primary" style="margin:10px;">Eliminar</button>			
													
											
									</div>
			
								</div>
				
		
						</mat-card>
					</div>

			<div class="col-12">
				<h6 class="card-title">
						Resultado de Activos
					</h6>
					<mat-card>	
						<div class="row align-items-top">
							
							
							<div class="col-4">

								<mat-form-field appearance="outline">
									<mat-label>Filtrar activos encontrados</mat-label>
								<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
								</mat-form-field>
								
							</div>

					

							<div class="col-8 text-center">
								<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Crear Alarma</button>
								<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Crear Mantenimiento </button>
								<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Cambiar Responsable </button>
								<button class="btn-primary-raised btn-small" mat-flat-button color="primary" style="margin:10px;">Cambiar Ubicación </button>
								<button class=" mat-red btn-small" mat-flat-button color="primary" style="margin:10px;">Solicitar Baja </button>	

							</div>
						</div>
					
				
						<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

						<!-- Checkbox Column -->
						<ng-container matColumnDef="select">
							<th mat-header-cell *matHeaderCellDef>
							<mat-checkbox (change)="$event ? masterToggle() : null"
											[checked]="selection.hasValue() && isAllSelected()"
											[indeterminate]="selection.hasValue() && !isAllSelected()">
							</mat-checkbox>
							</th>
							<td mat-cell *matCellDef="let row">
							<mat-checkbox (click)="$event.stopPropagation()"
											(change)="$event ? selection.toggle(row) : null"
											[checked]="selection.isSelected(row)">
							</mat-checkbox>
							</td>
						</ng-container>

						<!-- Código Activo -->
						<ng-container matColumnDef="codigo_activo">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Código Activo</th>
							<td mat-cell *matCellDef="let element" class="text-center"><button class="btn-primary-raised tb-url" mat-flat-button color="primary" routerLink="/activo/hoja-de-vida" >{{element.codigo_activo}}</button> </td>
						</ng-container>

						<!-- Nombre -->
						<ng-container matColumnDef="nombre_activo">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Nombre</th>
							<td mat-cell *matCellDef="let element" class="text-center"> {{element.nombre_activo}} </td>
						</ng-container>

						<!-- Tipo -->
						<ng-container matColumnDef="tipo_activo">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Tipo</th>
							<td mat-cell *matCellDef="let element" class="text-center"> {{element.tipo_activo}} </td>
						</ng-container>

						<!--Sede -->
						<ng-container matColumnDef="sede_activo">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Sede</th>
							<td mat-cell *matCellDef="let element" class="text-center"> {{element.sede_activo}} </td>
						</ng-container>

						<!--  Valor Compra -->
						<ng-container matColumnDef="valor_activo">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Valor Compra </th>
							<td mat-cell *matCellDef="let element" class="text-center"> {{element.valor_activo}} </td>
						</ng-container>

						<!-- Iva-->
						<ng-container matColumnDef="iva_activo">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Iva</th>
							<td mat-cell *matCellDef="let element" class="text-center">{{element.iva_activo}} </td>
						</ng-container>


						<!-- Responsable -->
						<ng-container matColumnDef="responsable_activo">
							<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Responsable</th>
							<td mat-cell *matCellDef="let element" class="text-center"> {{element.responsable_activo}} </td>
						</ng-container>


						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"
							(click)="selection.toggle(row)">
						</tr>
						</table>

						<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

					</mat-card>	
				</div>


		</div>
	</div>
</div>

<!-- Botón cancelar -->
<button mat-mini-fab color="primary" class="circle-btn" id="cancelar">		  	
		<mat-icon>close</mat-icon>
	</button>
	

<!-- Botón guardar -->
<button mat-fab color="primary" class="circle-btn" id="guardar" (click)="btnSave($event)">		  	
	<mat-icon class="save">save</mat-icon>
	<mat-icon class="check">check</mat-icon>
</button>

